@model XenERP.Models.Hari_NewReportModelView
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{

    int Slno = 0;
}
<link href="../../css/AdminLTE.css" rel="stylesheet" type="text/css" />
<link href="../../css/Designer.css" rel="stylesheet" type="text/css" />
<link href="~/css/datetimepicker/datepicker.css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/JqueryValidation.js"></script>
<script src="../../js/plugins/datetimepicker/bootstrap-datepicker.js" type="text/javascript"></script>
<link href="~/Content/select2/select2.min.css" rel="stylesheet" />
<script src="~/Content/select2/select2.full.min.js"></script>
<style type="text/css">
    table.dataTable thead .sorting_desc {
        background: url("/Images/sort_desc.png") no-repeat scroll right center #53A9BC;
    }

    table.dataTable thead .sorting_asc {
        background: url("/Images/sort_asc.png") no-repeat scroll right center #53A9BC;
    }
</style>

<style>
    .example-modal .modal {
        position: relative;
        top: auto;
        bottom: auto;
        right: auto;
        left: auto;
        display: block;
        z-index: 1;
    }

    .modal {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1040;
        display: none;
        overflow: auto;
        overflow-y: scroll;
    }

    .modal-content {
        background-color: #ffffff;
        width: 330px;
        margin: 130px auto 0 auto;
        text-align: center;
    }

    .example-modal .modal {
        background: transparent !important;
    }
</style>

<style type="text/css">
    .col-lg-12export {
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
    }


    .ui-autocomplete-loading {
        background: white url("../../Images/ajax-loader(1).gif") right center no-repeat;
    }

    .ErrorControl {
        background: none repeat scroll 0 0 #fbe3e4;
        border: 1px solid Red;
        padding: 4px;
        width: 96%;
    }

    .pad {
        width: 100% !important;
    }
</style>

<script type="text/javascript">

    $(function () {
        $('#example1').dataTable({
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bSort": false,
            "bInfo": true,
            "bAutoWidth": true
        });
    });
</script>

<script>
    $(document).ready(function () {
        $("#dp3").datepicker({ autoclose: true, todayHighlight: true });
        $("#dp4").datepicker({ autoclose: true, todayHighlight: true });
        $(".select2").select2();


        $("#btnsubmit").on('click', function () {
            var flockId = $(this).val();
            var frmDt = $("#FromDate").val();
            var toDt = $("#ToDate").val();

            if (frmDt == '') {
                $("#myModal").modal('show');
                $('.msg1').html('Please enter from date');
                return false;
            }
            if (toDt == '') {
                $("#myModal").modal('show');
                $('.msg1').html('Please enter to date');
                return false;
            }

            $("#loader").show();
            $("#loading").fadeIn();



            $.ajax({
                url: '/Hari_Report/WarehouseIssueDetails',
                type: 'post',
                data: JSON.stringify({ FromDate: frmDt, ToDate: toDt}),
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (data) {

                    if (data.length == 0) {

                        $("#myModal").modal('show');
                        $('.msg1').html('There are no feed or medicine againest this flock');
                        return false;
                        @*// window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["GoldLoneDomain"].ToString()";*@
                    }
                    else {
                        $('#recDetails').css('display', 'block');
                        $('#recDetails').html('');
                        $('#recDetails').html(data);
                        $("#loader").hide();
                        $("#loading").fadeOut(2000);
                    }

                }
            });
        });

    });
</script>



<aside class="right-side">
    <section class="content-header">
        <h1>HARI HO Feed Despatch Report <small>List</small> </h1>

    </section>



    @if (ViewBag.Message != null)
    {
        <div class="alert alert-success alert-dismissable">
            <i class="fa fa-check"></i>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            @ViewBag.Message
        </div>
    }

    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger alert-dismissable">
            <i class="fa fa-ban"></i>
            <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
            <b>Error!</b>
            @ViewBag.Error
        </div>
    }


    <div id="loading">
        <div id="loadingcontent">
            <p id="loadingspinner">
                <img src="~/Images/newLoad.gif" />
            </p>
        </div>
    </div>


    <div class="box-body table-responsive">


        <div class="box">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">  </div>
                    <div class="box-body">
                        <table>
                            <tr>
                                <td>
                                    <span class="r-txt">&nbsp; &nbsp; &nbsp; &nbsp;From Date:</span>
                                </td>
                                <td> &nbsp; &nbsp; &nbsp;</td>
                                <td>
                                    <div class="input-group date" data-date-format="@Session["DateFormatLower"]" id="dp3">
                                        <input type="text" readonly="readonly" class="form-control" id="FromDate" />
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                </td>
                                <td> &nbsp; &nbsp; &nbsp;</td>
                                <td>
                                    <span class="r-txt"> &nbsp; &nbsp; &nbsp; &nbsp;To Date:</span>
                                </td>
                                <td> &nbsp; &nbsp; &nbsp;</td>
                                <td>
                                    <div class="input-group date" data-date-format="@Session["DateFormatLower"]" id="dp4">
                                        <input readonly="readonly" type="text" class="form-control" id="ToDate" /> <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                </td>
                                <td> &nbsp; &nbsp; &nbsp;</td>

                                <td>
                                    <div>
                                        <div id="btnshow">  &nbsp; &nbsp; &nbsp; &nbsp;<input type="button" id="btnsubmit" class="btn btn-primary" value="Show" /></div>

                                    </div>
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>

            </div>
        </div>


    </div><!-- /.box-body -->


    <div class="col-md-12">
        <div id="recDetails">

        </div>
    </div>

    <div class="modal fade ignore" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="example-modal ">
            <div class="modal-warning">
                <div class="">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">ALERT !!!</h4>
                        </div>
                        <div class="modal-body">
                            <h4 class="msg1"></h4>
                            <input type="hidden" id="StoreId" value="" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline" data-dismiss="modal">Close</button>

                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
        </div>

    </div>
</aside>
