@model XenERP.Models.DepartmentModelView
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("CreateDepartment", "Department"))
{
    @Html.ValidationSummary(true)

      <aside class="right-side"> 
          <section class="content-header">
                    <h1> Department<small>Department Description</small> </h1>
                    <ol class="breadcrumb">
                       <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
                       <li><a href="#">Forms</a></li>
                       <li class="active">General Elements</li>
                    </ol>
           </section>

             <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs">
                                    <li class="pull-right"> <input name="" type="submit" id="btnsave" value="Save" class="btn btn-primary" /></li>
                                </ul>
             </div>

                <!-- Main content -->
                <section class="content">  
                    <div class="row">
                                <div class="col-md-6">
                                <div class="box box-primary">
                                <div class="box-header">
                     </div>
                                <div class="box-body">
                     
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-success alert-dismissable">
                         <i class="fa fa-check"></i>
                         <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                          @ViewBag.Message
             </div>
        }
        
        @if (ViewBag.Error != null)
        { 
               <div class="alert alert-danger alert-dismissable">
                           <i class="fa fa-ban"></i>
                           <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
              <b>Error!</b>
               @ViewBag.Error 
               </div>
         }
      
         @Html.HiddenFor(d => d.Id)
            
                                     
                                     <div class="form-group">
                                          <label class="black_txt_010">Department Name :<span style="color:Red;">*</span> </label>
                                        @Html.TextBoxFor(model=>model.Name, new { @class = "form-control", @placeholder = "Enter Department Name", @maxlength = "100" })
                                          @Html.ValidationMessageFor(model => model.Name)
                                    </div>

                                     <div class="form-group">
                                          <label class="black_txt_010"> Code :<span style="color:Red;">*</span> </label>
                                          @Html.TextBoxFor(model => model.Code, new { @class = "form-control", @placeholder = "Enter Department Code", @maxlength = "100" })
                                          @Html.ValidationMessageFor(model => model.Code)
                                    </div>

                                    <div class="form-group">
                                         <label class="black_txt_010">Company Name :</label>
                                         <div class="clr"></div>
                                         @Html.TextBoxFor(model =>model.CompanyName, new { @class  = "form-control", @placeholder = "Company Name", @maxlength = "10", @onkeypress = "return Numeric(event)"})
                                    </div>
                                  

                    </div>
                    </div>   <!-- /.row -->
                    </div>

                                <div class="col-md-6">
                                <div class="box box-primary">
                                <div class="box-header"> </div>
                                <div class="box-body">
                              

                                  <div class="form-group">
                                         <label class="black_txt_010">Branch Name :</label>
                                         <div class="clr"></div>
                                        @Html.DropDownListFor(model => model.BranchId, new SelectList(ViewBag.branch, "Id", "Name"), "-----Select Branch Name----", new { @class = "form-control" })
                                    </div>

                                <div class="form-group">
                                       <label class="black_txt_010"> Contact Person :</label> 
                                        @Html.TextBoxFor(model => model.Head, new { @class = "form-control", @placeholder = "Enter Contact Person", @maxlength = "1008" })
                                       
                                 </div>

                                 
                                <div class="form-group">
                                       <label class="black_txt_010"> Contact No. :</label> 
                                        @Html.TextBoxFor(model => model.PhoneNo, new { @class = "form-control", @placeholder = "Contact No.", @maxlength = "1008" })
                                     
                                 </div>
                                 </div>
                                 </div>
                                 </div>
                               
                </section><!-- /.content -->
        </aside>
}
