@model XenERP.Models.DepartmentModelView
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
<link href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<!-- font Awesome -->
<link href="../../css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<!-- Ionicons -->
<link href="../../css/ionicons.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnsubmit").on("click", function () {
            location.href = "/Department/ShowAllDepartment";
        });
    });
</script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <aside class="right-side">
          <section  class="content-header">
                    <h1>
                     Department <small>Details</small>                    
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li><a href="#">Forms</a></li>
                        <li class="active">General Elements</li>
                    </ol>
           </section>

                <!-- Main content -->
                <section class="content">
                    <div class="row">
                                         
                  
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-success alert-dismissable">
                                        <i class="fa fa-check"></i>
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                     @ViewBag.Message
            </div>
        }
        

      @if (ViewBag.Error != null)
      { 
             <div class="alert alert-danger alert-dismissable">
             <i class="fa fa-ban"></i>
             <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
             <b>Error!</b>
              @ViewBag.Error </div>
      }
      

                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs">
                                <li class="pull-right"><input type="button" id="btnsubmit" class="btn btn-primary" value="Back" /></li>
                                </ul>
                            <div class="tab-content">
                            <div class="tab-pane active" id="tab_1">
                            <div class="row">         
                            <div class="col-md-6">
                            <div class="box box-primary">
                            <div class="box-header"></div>
                            <div class="box-body">
                            <div class="form-group">
                                   <label class="black_txt_010">Department Name :</label>
                                     @Html.HiddenFor(d => d.Id)
                                     @Html.DisplayFor(model => model.Name, new { @class = "form-control" })
                             </div>

                                    
                             <div class="form-group">
                                          <label class="black_txt_010">Department Code :</label>
                                    @Html.DisplayFor(model => model.Code, new { @class = "form-control" })
                             </div>


                             <div class="form-group">
                                          <label class="black_txt_010">Company Name :</label>
                                    @Html.DisplayFor(model => model.CompanyName, new { @class = "form-control" })
                             </div>

                                    
                             <div class="form-group">
                                          <label class="black_txt_010">Branch Name :</label>
                                    @Html.DisplayFor(model => model.BranchName, new { @class = "form-control" })
                             </div>

                                <div class="form-group">
                                   <label class="black_txt_010">Contact Person :</label>
                                    @Html.DisplayFor(model => model.Head, new { @class = "form-control" })
                              </div>

                               <div class="form-group">
                                   <label class="black_txt_010">Contact No. :</label>
                                    @Html.DisplayFor(model => model.PhoneNo, new { @class = "form-control" })
                              </div>

                             </div>
                             </div>
                             </div>
                              </div>   
                              </div>
                              </div>
                              </div>
                              </div>
                        </section>
                        </aside>
}
