@model IEnumerable<XenERP.Models.JournalModelView>
@using XenERP.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{

    int Slno = 0;
}
<link href="../../css/AdminLTE.css" rel="stylesheet" type="text/css" />
<link href="../../css/Designer.css" rel="stylesheet" type="text/css" />
<link href="~/css/datetimepicker/datepicker.css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/JqueryValidation.js"></script>
<script src="../../js/plugins/datetimepicker/bootstrap-datepicker.js" type="text/javascript"></script>
<style type="text/css">
    table.dataTable thead .sorting_desc {
        background: url("/Images/sort_desc.png") no-repeat scroll right center #53A9BC;
    }

    table.dataTable thead .sorting_asc {
        background: url("/Images/sort_asc.png") no-repeat scroll right center #53A9BC;
    }
</style>
<script type="text/javascript">

    $(function () {
        $('#example1').dataTable({
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": true
        });
    });
</script>

<script>
    $(document).ready(function () {
        $("#dp3").datepicker({ autoclose: true, todayHighlight: true });
        $("#dp4").datepicker({ autoclose: true, todayHighlight: true });


        $("#btnsubmit").on('click', function () {
            var frmDt = $("#FromDate").val();
            var topDt = $("#ToDate").val();
            if (frmDt == '') {
                $("#myModal").modal('show');
                $('.msg1').html('Please enter from date');
                return false;
            }
            if (topDt == '') {
                $("#myModal").modal('show');
                $('.msg1').html('Please enter to date');
                return false;
            }
            window.location.href = "/Journal/ShowAllJournalSearch?DateFrom=" + frmDt + "&&DateTo=" + topDt;
        });

    });
</script>

<aside class="right-side">
    <section class="content-header">
        <h1>Journal <small>List</small> </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Forms</a></li>
            <li class="active">General Elements</li>
        </ol>
    </section>



    @if (ViewBag.Message != null)
    {
        <div class="alert alert-success alert-dismissable">
            <i class="fa fa-check"></i>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            @ViewBag.Message
        </div>
    }

    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger alert-dismissable">
            <i class="fa fa-ban"></i>
            <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
            <b>Error!</b>
            @ViewBag.Error
        </div>
    }



    <div class="box">
        @*<div class="col-xs-12"><a href="@Url.Action("CreateJournal", "Journal")" class="btn btn-primary"> <i class="fa fa-fw fa-plus-square"></i>New Journal</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="@Url.Action("CreateSalesJournal", "Journal")" class="btn btn-primary"> <i class="fa fa-fw fa-plus-square"></i>New Sales Journal</a></div><br /><br />*@
       
        <div class="col-xs-12"><a href="@Url.Action("CreateJournalDetail", "Journal")" class="btn btn-primary"> <i class="fa fa-fw fa-plus-square"></i>New Journal</a></div><br /><br />
         <div class="box-body table-responsive">

            <div class="box">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header">  </div>
                        <div class="box-body">
                            <table>
                                <tr>
                                    <td>
                                        <span class="r-txt">&nbsp; &nbsp; &nbsp; &nbsp;From Date:</span>
                                    </td>
                                    <td> &nbsp; &nbsp; &nbsp;</td>
                                    <td>
                                        <div class="input-group date" data-date-format="@Session["DateFormatLower"]" id="dp3">
                                            <input type="text" readonly="readonly" class="form-control" id="FromDate" />
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                    </td>
                                    <td> &nbsp; &nbsp; &nbsp;</td>
                                    <td>
                                        <span class="r-txt"> &nbsp; &nbsp; &nbsp; &nbsp;To Date:</span>
                                    </td>
                                    <td> &nbsp; &nbsp; &nbsp;</td>
                                    <td>
                                        <div class="input-group date" data-date-format="@Session["DateFormatLower"]" id="dp4">
                                            <input readonly="readonly" type="text" class="form-control" id="ToDate" /> <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                    </td>
                                    <td> &nbsp; &nbsp; &nbsp;</td>
                                    <td> &nbsp; &nbsp; &nbsp;</td>

                                    <td>
                                        <div>
                                            <div id="btnshow">  &nbsp; &nbsp; &nbsp; &nbsp;<input type="button" id="btnsubmit" class="btn btn-primary" value="Show" /></div>

                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
            </div>


            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>SlNo.</th>
                        <th> Journal Code</th>
                        <th> Narration</th>
                        <th> Journal Date</th>
                        <th> TotalDebit </th>
                        <th> TotalCredit </th>
                        <th>Unit</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        Slno = Slno + 1;
                        //var orderaDate = @item.IssueDate.ToShortDateString();
                    <tr>
                        <td>@Slno</td>
                        <td> @Html.DisplayFor(modelItem => item.JournalCode)</td>
                        <td>  @Html.DisplayFor(modelItem => item.Narration) </td>
                        <td> @String.Format(Session["DateFormatUpper"].ToString(), item.CreatedOn) </td>
                        <td>  @Html.DisplayFor(modelItem => item.TotalDebit) </td>
                        <td>  @Html.DisplayFor(modelItem => item.TotalCredit) </td>
                        <td>  @Html.DisplayFor(modelItem => item.JournalName) </td>

                        <td>  @Html.ActionLink("Edit", "EditJournal", new { id = item.Id })  </td>
                        @if (ViewBag.BranchId == 0)
                        {
                            <td>  @Html.ActionLink("Delete", "DeleteJournal", new { id = item.Id, @class = "DeleteLink" }, new { onclick = "return confirm('Are you sure you wish to delete this row?');" })</td>
                        }
                        </tr>
                    }
                </tbody>
            </table>
        </div><!-- /.box-body -->
    </div>
</aside>
