    @model IEnumerable<XenERP.Models.DailyCashMaster>

using XenERP.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{

    int Slno = 0;
}
<link href="../../css/AdminLTE.css" rel="stylesheet" type="text/css" />
<link href="../../css/Designer.css" rel="stylesheet" type="text/css" />
<style type="text/css">
    table.dataTable thead .sorting_desc {
        background: url("/Images/sort_desc.png") no-repeat scroll right center #53A9BC;
    }

    table.dataTable thead .sorting_asc {
        background: url("/Images/sort_asc.png") no-repeat scroll right center #53A9BC;
    }
</style>
<script type="text/javascript">

    $(function () {
        $('#example1').dataTable({
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": true
        });
    });
</script>
<aside class="right-side">
    <section class="content-header">
        <h1>Daily Cash Details <small>List</small> </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Forms</a></li>
            <li class="active">General Elements</li>
        </ol>
    </section>



    @if (ViewBag.Message != null)
    {
        <div class="alert alert-success alert-dismissable">
            <i class="fa fa-check"></i>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            @ViewBag.Message
        </div>
    }

    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger alert-dismissable">
            <i class="fa fa-ban"></i>
            <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
            <b>Error!</b>
            @ViewBag.Error
        </div>
    }

    @{
        long Branchid = Convert.ToInt64(Session["BranchId"]);

    }

    <div class="box">
        <div class="col-xs-12"><a href="@Url.Action("CreateDailyCash", "DailyCash")" class="btn btn-primary"> <i class="fa fa-fw fa-plus-square"></i>Create New Daily Cash</a></div><br /><br />
        <div class="box-body table-responsive">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>SlNo.</th>
                        <th>Date</th>
                        <th>Total Cash Amount</th>
                        <th>Total Cheque Amount</th>
                        <th>Total Amount</th>
                        <th>Created On</th>  
                        <th>Modified On</th>            

                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {

                        Slno = Slno + 1;
                        <tr>
                            
                            <td align="center"><a href='@Url.Action("DailyCashInformationDetails", "DailyCash", new { id = item.Id })' class="AccoDet">@Slno</a> @Html.HiddenFor(m => item.Id, new { @class = "AcId" })</td>
                            <td> @Html.DisplayFor(modelItem => item.DateString)</td>
                            <td> @Html.DisplayFor(modelItem => item.CurrencyTotal)</td>
                            <td> @Html.DisplayFor(modelItem => item.ChequeTotal)</td>
                            <td> @Html.DisplayFor(modelItem => item.TotalAmount)</td> 
                            <td> @Html.DisplayFor(modelItem => item.CreatedOn)</td> 
                            <td> @Html.DisplayFor(modelItem => item.ModifiedOn)</td>                                           

                            <td> @Html.ActionLink("Edit", "EditDailyCash", "DailyCash", new { id = item.Id }, null)  </td>
                            <td> @Html.ActionLink("Delete", "DeleteDailyCash", "DailyCash", new { id = item.Id, }, new { onclick = "return confirm('Are you sure you wish to delete this row?');" })</td>
                            @if (Branchid == 0)
                            {
                                <td> @Html.ActionLink("Delete All", "DeleteDailyEntryWithAllReferences", "DailyCash", new { id = item.Id, }, new { onclick = "return confirm('Are you sure you wish to delete All the References?');" })</td>
                            }
                            else
                            {

                                <td></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div><!-- /.box-body -->
    </div>
</aside>

