@model XenERP.Models.UnitIssueModelView

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/css/datetimepicker/datepicker.css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/JqueryValidation.js"></script>
<script src="../../js/plugins/datetimepicker/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="../../js/jquery-ui-1.10.3.js" type="text/javascript"></script>
<link href="~/Content/select2/select2.min.css" rel="stylesheet" />
<script src="~/Content/select2/select2.full.min.js"></script>


<style>
    .my-table-header {
        background: #55b4b4;
        color: #0e0505;
    }

    .HandCursor {
        cursor: pointer;
    }

    .display-non-div {
        display: none !important;
    }

    .add-component-deletebotton {
        background: url(../Images/icon-delete.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
        border: medium none;
        height: 15px;
        width: 15px;
    }
</style>

<style>
    .example-modal .modal {
        position: relative;
        top: auto;
        bottom: auto;
        right: auto;
        left: auto;
        display: block;
        z-index: 1;
    }

    .modal-content {
        background-color: #ffffff;
        width: 330px;
        margin: 130px auto 0 auto;
        text-align: center;
    }

    .example-modal .modal {
        background: transparent !important;
    }
</style>



@*===========SELECT2 ASSAIGN==============*@

<script type="text/javascript">
    $(document).ready(function () {
        $(".select2").select2();
        $("#dp3").datepicker({ autoclose: true, todayHighlight: true });
    });
</script>



<script>
    $(document).ready(function () {

        $(".ItemReceivedQuantity").on('keyup', function () {
            var itemRec = $(this).val();
            var comptd = $(this).closest('td');
            var comptr = comptd.closest('tr');
            var totalQuan = comptr.find('.quan').val();
            if (parseFloat(itemRec) > parseFloat(totalQuan)) {
                $("#myModal").modal('show');
                $('.msg1').html('Receive quantity can not greater than Total Quantity');
                $(this).val(0);
                return false;
            }
        });

        $("form").on("submit", function (event) {

        });
    });
</script>


@using (Html.BeginForm("ReceiveByUnit", "HariItemReturn", FormMethod.Post))
{

    @*@Html.ValidationSummary(true)*@

    <aside class="right-side">

        <section class="content-header" style="text-align:center">
            <h4><b>Return Received By Unit</b> </h4>
          
        </section>


        @if (ViewBag.Message != null)
        {
            <div class="alert alert-success alert-dismissable">
                <i class="fa fa-check"></i>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                @ViewBag.Message
            </div>
        }

        @if (ViewBag.Error != null)
        {
            <div class="alert alert-danger alert-dismissable">
                <i class="fa fa-ban"></i>
                <button class="close" aria-hidden="true" data-dismiss="alert" type="button"></button>
                <b>Error!</b>
                @ViewBag.Error
            </div>
        }








        <div class="col-md-12">

            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header">  </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label class="black_txt_010"> Date Of Receive:<span style="color:Red;">*</span> </label>
                            <div class="input-group date" id="dp3" data-date-format="@Session["DateFormatLower"]">
                                @Html.TextBoxFor(model => model.ReceiveDateString, new { @class = "form-control", @readonly = "" })
                                <span class="input-group-addon" style=" width:auto !important">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.ReceiveDateString)
                        </div>
                        <div class="form-group">
                            <label class="black_txt_010"> Unit Name :<span style="color:Red;">*</span> </label>
                            @Html.TextBoxFor(model => model.FarmName, new { @class = "form-control", @readonly = "readonly" })
                            @Html.HiddenFor(model => model.FarmId)
                            @Html.HiddenFor(model => model.IssueId)

                        </div>

                        <div class="form-group">
                            <label class="black_txt_010">Delivery Hand Challan:<span style="color:Red;">*</span> </label>
                            @Html.TextBoxFor(model => model.ReffHandChallanNo, new { @class = "form-control", @readonly = "readonly" })
                       
                        </div>

                     

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header">  </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label class="black_txt_010"> Date Of Despatch:<span style="color:Red;">*</span> </label>
                            @Html.TextBoxFor(model => model.IssueDateString, new { @class = "form-control", @readonly = "readonly" })

                        </div>



                        <div class="form-group">
                            <label class="black_txt_010">Delivery System Challan:<span style="color:Red;">*</span> </label>
                            @Html.TextBoxFor(model => model.DeliveryChallanNo, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.DeliveryChallanNo)
                        </div>
                        <input name="" type="submit" id="btnsave" value="Submit" class="btn btn-primary" />
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="table-responsive">
                    <table id="issueDetailsTab" class=" table jambo_table1 bulk_action table-bordered">
                        <tr class="my-table-header headings">
                            <td class="my-table-header" style="text-align:center;" width="15%">
                                <label class="black_txt_010">Item Category</label>
                            </td>

                            <td class="my-table-header" style="text-align:center;" width="30%">
                                <label class="black_txt_010">Item Name</label>
                            </td>

                            <td class="my-table-header" style="text-align:center;" width="10%">
                                <label class="black_txt_010">Unit Type</label>
                            </td>

                            <td class="my-table-header" style="text-align:center;" width="10%">
                                <label class="black_txt_010">Returned Quantity</label>
                            </td>

                           

                            <td class="my-table-header" style="text-align:center;" width="10%">
                                <label class="black_txt_010">Received Quantity</label>
                            </td>

                            <td class="my-table-header" style="text-align:center;" width="15%">
                                <label class="black_txt_010">Remarks</label>
                            </td>
                        </tr>

                        @if (Model.issDet != null)
                        {

                            for (int a = 0; a < Model.issDet.Count(); a++)
                            {
                                <tr>
                                    <td>
                                        @Html.HiddenFor(m => Model.issDet[a].Id)
                                        @*@Html.HiddenFor(m => Model.issDet[a].ItemCategoryId, new { @class = "catId" })*@
                                        @Html.TextBoxFor(m => Model.issDet[a].ItemCategory, new { @class = "cat form-control", @readonly = "readonly" })
                                    </td>
                                    <td>
                                        @Html.HiddenFor(m => Model.issDet[a].ItemId, new { @class = "proId" })
                                        @Html.TextBoxFor(m => Model.issDet[a].Item, new { @class = "pro form-control", @readonly = "readonly" })
                                    </td>

                                    <td>
                                        @Html.HiddenFor(m => Model.issDet[a].ItemUnitId, new { @class = "uniId" })
                                        @Html.TextBoxFor(m => Model.issDet[a].ItemUnitType, new { @class = "uni form-control", @readonly = "readonly" })
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => Model.issDet[a].ItemIssuedQuantity, new { @class = "quan form-control", @readonly = "readonly" })
                                    </td>

                                    <td>
                                        @Html.TextBoxFor(m => Model.issDet[a].ItemReceivedQuantity, new { @class = "ItemReceivedQuantity form-control" })
                                    </td>

                                    <td>
                                        @Html.TextAreaFor(m => Model.issDet[a].ItemRemarks, new { @class = "ItemRemarks form-control" })
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>

            </div>
        </div>






        <div class="modal fade ignore" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
            <div class="example-modal ">
                <div class="modal-warning">
                    <div class="">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">ALERT !!!</h4>
                            </div>
                            <div class="modal-body">
                                <h4 class="msg1"></h4>
                                <input type="hidden" id="StoreId" value="" />
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline" data-dismiss="modal">Close</button>

                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
            </div>

        </div>
    </aside>
}
