@model IEnumerable<XenERP.Models.SalesInvoiceModelView>
@{

    var SlNo = 0;

    decimal TotAmt = 0;
}
<style type="text/css">
    body {
        font-family: verdana, arial, sans-serif;
        font-size: 10px;
    }

    .invoice th,
    td {
        padding: 3px 2px 3px 2px;
        text-align: center;
    }

    .invoice th {
        border-bottom: 2px solid #333333;
    }

    .invoice td {
        border-bottom: 1px solid #999999;
    }

    .invoice table {
        overflow: visible !important;
    }

    .invoice thead {
        display: table-header-group;
    }

    .invoice tfoot {
        display: table-row-group;
    }

    .invoice tr {
        page-break-inside: avoid;
    }
</style>



<div align="center">
    <span style="font-size:x-large;font-weight:bolder">HI-BREED INTERNATIONAL SALES && SERVICE</span><br />
    <span style="font-size:medium;font-weight:normal"> 22, R.N. Mukherjee Road, 5th Floor, Kolkata-700 001</span><br />
    <span style="font-size:medium;font-weight:normal">GST NO - 19AABFH7726D1ZG</span>
    <br />
    @if (ViewBag.from != null)
    {
        <span style="font-size:medium;font-weight:normal">

            @Html.Raw("From:")@String.Format("{0:dd/MM/yyyy}", ViewBag.from)     @Html.Raw("&nbsp;&nbsp;")     @Html.Raw("")             @Html.Raw("To:")@String.Format("{0:dd/MM/yyyy}", ViewBag.to)

        </span>
    }
    <br />
    <br />
    <div style="font-size:medium;font-weight:normal;text-align:left;padding-left:10px">
        <b>Sales Summary By Date </b>

    </div>
</div>
<br />


<table id="example1" cellspacing="0" cellpadding="0" class="invoice">
    <thead>
        <tr>

            <th>
                SlNo.
            </th>

            <th>
                Date
            </th>




            <th>
                Total Amount
            </th>




        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            SlNo = SlNo + 1;

            TotAmt += item.BCGrandTotal;


            <tr>

                <td>
                    @SlNo
                </td>
                <td>

                    @*                   @String.Format(@Session["DateFormatUpper"].ToString(), item.Date)*@

                    @String.Format("{0:dd/MM/yyyy}", item.CreatedOn)
                </td>

                <td align="right">
                    @Math.Round(item.BCGrandTotal, 2)

                </td>




            </tr>
        }
    </tbody>
    <tfoot>
        <tr>

            <td></td>
            <td>

                Grand Total


            </td>



          

            <td align="right">
                @Math.Round(TotAmt, 2)

            </td>




        </tr>
    </tfoot>

</table>




