@model IEnumerable<XenERP.Models.Salesdate>
@{
   
    var SlNo = 0;
    decimal Total = 0;
    decimal? TotAmt = 0;
    Layout = "~/Views/Shared/_LayoutReport.cshtml";

}


<!--for graph   -->
<!--for graph   -->


<aside class="right-side">

<center>
<table>
<tr>
<td>

@if (ViewBag.branchname != null)
{
<b>@ViewBag.Name (@ViewBag.branchname) </b>
}
else
{
    @ViewBag.Name 
}
</td>
</tr>




<tr>
<td>
<b>Sales By Date</b>
</td>
</tr>



<tr>
<td>
@try
{

    if (ViewBag.from != null)
    {
  @Html.Raw("From:")@String.Format("{0:dd/MM/yyyy}", ViewBag.from)     @Html.Raw("&nbsp;&nbsp;")     @Html.Raw("")             @Html.Raw("To:")@String.Format("{0:dd/MM/yyyy}", ViewBag.to);
    }
}
catch
{
}
</td>
</tr>






</table>
</center>

<div class="box box-primary">
                                 
                                 
   <div class="box-body table-responsive divContent">

            <table id="example1" class="table table-bordered" aria-describedby="example1_info">
                <thead>
                    <tr>
                    
                        <th>
                     SlNo.
                        </th>
                       
                        <th>
                    Date
                        </th>
                    
                        <th>
                         Amount
                        </th>
                      




                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {




                        SlNo = SlNo + 1;

                        TotAmt = TotAmt + item.Amount;

                        
                        <tr>

                       <td>
                       @SlNo
                       </td>
                            <td>
                            
                          @String.Format("{0:dd/MM/yyyy}", item.Date)
                         
            
                            </td>
                             <td align="right">
                          @Html.DisplayFor(modelItem => item.Amount)
                     
                            </td>
                              
                         

                        </tr>
                    }
                </tbody>
                <tfoot>
                <tr>
           
                <td>
                </td>
                <td align="right">
                <b>Grand Total</b></td>
             
               <td align="right"><b><strong>@TotAmt</strong></b></td>
             
                </tr>
                </tfoot>
   
            </table>

            </div>

</div>
</aside>
