@model XenERP.Models.PurchaseReceipt

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>PurchaseReceipt</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Supplier.Code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Supplier.Code)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Reference)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Reference)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PurchaseOrder.Reference)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PurchaseOrder.Reference)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DueDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DueDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ReceiptDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReceiptDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Currency.Country)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Currency.Country)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Currency1.Country)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Currency1.Country)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Currencyrate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Currencyrate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FinancialYearId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FinancialYearId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RecurringSalesId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RecurringSalesId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ApproveStatus)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ApproveStatus)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TaxTotal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TaxTotal)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BCTaxTotal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BCTaxTotal)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TotalAmount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalAmount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BCTotalAmount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BCTotalAmount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GrandTotal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GrandTotal)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BCGrandTotal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BCGrandTotal)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tax.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tax.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsDeleted)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsDeleted)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Memo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Memo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Type)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Type)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Warehouse.Code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Warehouse.Code)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DeliveryName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DeliveryName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StreetPoBox)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StreetPoBox)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Suburb)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Suburb)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.City)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StateRegion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StateRegion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Country)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Country)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PostalCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostalCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedOn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedOn)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ModifiedBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifiedBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ModifiedOn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifiedOn)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CompanyId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanyId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BranchId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BranchId)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
