@model XenERP.Models.ModelView.FeedStockModelView

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{

    int Slno = 0;
}
<link href="../../css/AdminLTE.css" rel="stylesheet" type="text/css" />
<link href="../../css/Designer.css" rel="stylesheet" type="text/css" />


<link href="../../Content/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="../../Reports/css/datetimepicker/datepicker.css" />
<script src="../../Reports/Scripts/custom.js" type="text/javascript"></script>
<script src="../../Reports/js/plugins/datetimepicker/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="../../Reports/js/jquery-ui-1.10.3.js" type="text/javascript"></script>
<script src="../../Reports/Scripts/jQuery.print.js" type="text/javascript"></script>


<style>
    .modal-content {
        background-color: #b2b266;
        /*width: 600px;*/
        margin: 130px auto 0 auto;
        text-align: center;
    }

    .table th {
        text-align: center;
    }

    .select2 {
        width: 400px;
    }

    .colorChang {
        background-color: pink;
    }


    /*.modal-content .modal-dialog {
            margin: 0;
            margin-right: auto;
            margin-left: auto;
            width: 100%;
        }*/

    .nwWdth {
        width: 300px;
    }

    .spWdth {
        width: 230px;
    }

    .select2-container--default .select2-search--inline .select2-search__field {
        width: 100% !important;
    }

    .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
        border: 1px solid #51c5c5;
    }

    .table > thead:first-child > tr:first-child > th {
        border: 1px solid #51c5c5;
    }

    table.table-bordered td:last-child {
        border: 1px solid #51c5c5;
    }

    table.dataTable thead > tr > th {
        padding-right: 0px;
    }
</style>

<script type="text/javascript" language="javascript">

    $(document).ready(function () {
        var Culture = "@Session["DateCulture"]";
        $("#dp3").datepicker({ autoclose: true, todayHighlight: true, language: Culture });
        $("#dp4").datepicker({ autoclose: true, todayHighlight: true, language: Culture });

        $("#btnsubmit").on("click", function () {



            if ($("#Name").val() == "") {
                alert("Please enter bank name");
                return false;
            }

            if ($("#OpeningBalance").val() == "") {
                alert("Please enter Opening Balance");
                return false;
            }
        });


        $("#chkSup").click(function () {
            // $("#add_Cit_button").val("Submit");
            $("#myModalCIT").modal('show');
            //  $("#StoreId").val(id);
        });

    });

</script>


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)



    <aside class="right-side">
        <section class="content-header">
            <h1>
                National Electronic Funds Transfer (NEFT)
                <input type="submit" id="btnsubmit" class="btn btn-primary pull-right " value="Save" />

                <input type="button" id="chkSup" class="btn btn-danger " value="Check Supplier" />
            </h1>

        </section>



        @*<div class="nav-tabs-custom">
                <ul class="nav nav-tabs">

                    <li class="pull-right">
                        <input type="submit" id="btnsubmit" class="btn btn-primary" value="Save" />

                    </li>
                </ul>

            </div>*@

        @using (Html.BeginForm("PaymentVarification", "FarmerReport", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <section class="content">

            <div class="row">

                <!-- Main content -->
                <!-- left column -->
                <div class="col-md-6">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        <div class="box-header">

                        </div>
                        <!-- form start -->

                        <div class="box-body">
                            <div class="form-group">
                                <label class="black_txt_010">
                                    Bank Name :
                                </label>
                                @Html.TextBoxFor(model => model.BankName, new { @class = "form-control", @readonly = "readonly" })
                                @Html.HiddenFor(model => model.NeftId)
                            </div>


                        </div>
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-header">

                        </div>
                        <div class="box-body">

                            <div class="form-group">
                                <label class="black_txt_010">
                                    Sheet Creation Date
                                </label>
                                @Html.TextBoxFor(m => m.SheetSubmissionDate, new { @class = "form-control", @readonly = "readonly" })
                            </div>

                            <div class="form-group">
                                <label class="black_txt_010">
                                    Transfer Date<span style="color:Red;">*</span>
                                </label>

                                <div class="input-group date" data-date-format="@Session["DateFormatLower"]" id="dp4">
                                    @Html.TextBoxFor(m => m.TransferDate, new { @class = "form-control", @readonly = "readonly" })

                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                                @Html.ValidationMessageFor(m=>m.TransferDate)
                            </div>

                        </div>
                    </div>
                </div>




            </div>

            <div class="box-body table-responsive" id="divPrint">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>

                        <tr>
                            <th style="text-align:center">SL No</th>
                            <th style="text-align:center">Farmer Name</th>
                            <th style="text-align:center">Branch</th>
                            <th style="text-align:center">GC Amount</th>
                            <th style="text-align:center">Flock Code</th>
                            <th style="text-align:center">A/C No</th>
                            <th style="text-align:center">Neft Done</th>
                        </tr>
                    </thead>
                    <tbody>


                        @for (int i = 0; i < Model.neftList.Count(); i++)
                        {

                        <tr>
                            @{ Slno = Slno + 1;
                            }
                            <td>
                                @Slno
                                @Html.HiddenFor(m => m.neftList[i].Id)
                                @Html.HiddenFor(m => m.neftList[i].FarmId)
                                @Html.HiddenFor(m => m.neftList[i].BranchId)
                                @Html.HiddenFor(m => m.neftList[i].FarmerReportId)
                            </td>
                            <td>@Html.DisplayFor(modelItem => Model.neftList[i].FarmerName)</td>
                            <td>@Html.DisplayFor(modelItem => Model.neftList[i].BranchName)</td>
                            <td style="text-align:right">@Html.DisplayFor(modelItem => Model.neftList[i].GCAmount)</td>
                            <td style="text-align:center">@Html.DisplayFor(modelItem => Model.neftList[i].FlockCode)</td>
                            <td style="text-align:right">@Html.DisplayFor(modelItem => Model.neftList[i].AcNumber)</td>
                            <td style="text-align:center">@Html.CheckBoxFor(modelItem => Model.neftList[i].DoNEFT, new { @class = "DoNeft" })</td>

                        </tr>
                        }




                    </tbody>
                </table>
            </div><!-- /.box-body -->

        </section>

}
    </aside>


    <div class="modal fade ignore" id="myModalCIT" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: darkcyan">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" style="color:white"><b>Farmers who didn't tag with Supplier</b> </h4>
                </div>
                <div class="modal-body">


                    <div class="box-body">
                        <div class="row">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Farm Id</th>
                                        <th>Farmer Name</th>
                                        <th>Branch Name</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model.nonSupList)
                                    {

                                        Slno = Slno + 1;
                                        <tr>
                                            <td>@item.FarmId</td>

                                            <td align="center">
                                                @item.FarmerName
                                            </td>
                                            <td> @Html.DisplayFor(modelItem => item.BranchName)</td>

                                        </tr>
                                    }
                                </tbody>
                            </table>


                        </div>
                    </div>

                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

}

