@model IEnumerable<XenERP.Models.RequestModelView>
@using XenERP.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int SlNo = 0;
    List<Taxname> branches = (List<Taxname>)ViewBag.branches;
    long branchid = ViewBag.Branchid;

}



<style type="text/css">
    table.dataTable thead .sorting_desc {
        background: url("/Images/sort_desc.png") no-repeat scroll right center #53A9BC;
    }

    table.dataTable thead .sorting_asc {
        background: url("/Images/sort_asc.png") no-repeat scroll right center #53A9BC;
    }
</style>
<script type="text/javascript">
    $(function () {


        $('#example1').dataTable({

            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": true
        });
    });
</script>

<script type="text/javascript">

    $(document).ready(function () {
        $('#errordiv').on('click', '#btnerror', function () {
            $('#errordiv').css("display", "none");
            // e.stopPropagation();
        });

        $(".poButton").click(function (e) {
            e.preventDefault();
            var Menu = "";
            var cnt = 0;
            var oldrequest = 0;
            $("input:checkbox[class=checkmenu]:checked").each(function () {

                var trObj = $(this).closest('tr');
                var request = trObj.find('.request').val();
                //alert(request);
                if (cnt == 0){

                    oldrequest = request;
                }
                else {

                    if (oldrequest != request) {
                        alert(request);
                        $('#errordiv').css("display", "block");
                        $('#errordiv').html('');
                        $('#errordiv').append("<i class='fa fa-ban'></i><button id='btnerror' class='close'  type='button'>×</button><b>Error!</b><br />");
                        $('#errordiv').append('All Requests should be from same Branch.');
                        $("html, body").animate({ scrollTop: 0 }, "slow");
                        oldrequest = 0;
                        return false;
                    }
                }
                cnt++;
                if (Menu == "") {

                    Menu = $(this).val();

                }

                else {
                    Menu = Menu + "," + $(this).val();

                }


            });
            if (oldrequest == 0) {
                return false;
            }

            if (Menu == "") {

                alert("Please select atleast one  Menu");
                return false;
            }

            else {



                    window.location.href = '/PurchaseOrder/Create?id=0&Requests='+ Menu;






            }
        });

    });
</script>



<aside class="right-side">
    <section class="content-header">
        <h1>
            Head Office Activity To Request<small>List</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Forms</a></li>
            <li class="active">General Elements</li>
        </ol>
    </section>




    @if (ViewBag.Message != null)
    {
        <div class="alert alert-success alert-dismissable">
            <i class="fa fa-check"></i>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            @ViewBag.Message
        </div>
    }
    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger alert-dismissable">
            <i class="fa fa-ban"></i>
            <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
            <b>Error!</b>
            @ViewBag.Error
        </div>
    }

    <div class="alert alert-danger alert-dismissable" id="errordiv" style="display:none">
        <i class="fa fa-ban"></i>
        <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
        <b>Error!</b>
    </div>


    <div class="box">


        <div class="box-body table-responsive">
            <table id="example1" class="table table-bordered table-striped dataTable" aria-describedby="example1_info">
                <thead>
                    <tr>
                        <th>
                            Sl. No.
                        </th>
                        <th>
                            Request No.
                        </th>
                        <th>
                            Request Date
                        </th>
                        <th>
                            Expected Date
                        </th>
                        <th>
                            Branch
                        </th>
                        <th>
                            Product
                        </th>

                        <th>
                            Quantity
                        </th>
                        <th>
                            Unit
                        </th>

                        <th>
                            Status
                        </th>
                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {


                        //totalpurchaserate = totalpurchaserate + item.PurchaseRate;

                        SlNo = SlNo + 1;
                        //totalsellrate = totalsellrate + item.SellRate;


                        <tr>
                            <td>@SlNo</td>
                            <td>




                                @Html.DisplayFor(modelItem => item.RequestNo)

                            </td>
                            <td>
                                @String.Format(Session["DateFormatUpper"].ToString(), item.RequestDate)

                            </td>

                            <td>

                                @String.Format(Session["DateFormatUpper"].ToString(), item.ExpectedDate)
                            </td>



                            <td>


                                @branches.Where(d => d.Id == item.Branch).Select(d => d.Name).FirstOrDefault()
                            </td>




                            <td>

                                @Html.DisplayFor(modelItem => item.Product)
                            </td>
                            <td>

                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>

                                @Html.DisplayFor(modelItem => item.Unit)
                            </td>

                            <td>

                                @Html.DisplayFor(modelItem => item.Status)
                            </td>

                           



                        </tr>
                    }
                </tbody>

            </table>

        </div>
    </div>

</aside>
