@model XenERP.Models.Costing

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Costing</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LedgerMaster.ledgerID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LedgerMaster.ledgerID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TransactionType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TransactionType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Type)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Type)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CompanyId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanyId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BranchId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BranchId)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
