@model IEnumerable<XenERP.Models.ConsolidatedInvoice>



 @{
     Layout = "~/Views/Shared/_Layout.cshtml";
     int SlNo = 0;
}



<style type="text/css">
    table.dataTable thead .sorting_desc
    {
        background: url("/Images/sort_desc.png") no-repeat scroll right center #53A9BC;
    }
    table.dataTable thead .sorting_asc
    {
        background: url("/Images/sort_asc.png") no-repeat scroll right center #53A9BC;
    }
</style>
<script type="text/javascript">
    $(function () {


        $('#example1').dataTable({

            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": true
        });
    });
</script>

<aside class="right-side">
          <section  class="content-header">
                    <h1>
                  Consolidated Invoice<small>List</small>            
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li><a href="#">Forms</a></li>
                        <li class="active">General Elements</li>
                    </ol>
                </section>



                     
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-success alert-dismissable">
                                        <i class="fa fa-check"></i>
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                     @ViewBag.Message
                                    </div>
        }
      @if (ViewBag.Error != null)
      { 
        <div class="alert alert-danger alert-dismissable">
<i class="fa fa-ban"></i>
<button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
<b>Error!</b>
@ViewBag.Error </div>
      }





    <div class="box">
      <div class="col-xs-12"><a href="@Url.Action("CreateConsolidatedInvoice", "ConsolidatedInvoice")" class="btn btn-primary"> <i class="fa fa-fw fa-plus-square"></i>New Consolidated Invoice</a></div><br /><br />
        <div class="box-body table-responsive">
            <table id="example1" class="table table-bordered table-striped dataTable" aria-describedby="example1_info">
                <thead>
                    <tr>
                     <th>
                     Sl. No.
                        </th>
                        <th>
                     Invoice No.
                        </th>
                        <th>
                     Invoice Date
                        </th>
                        <th>
                      Customer Name
                        </th>
                        <th>
                          Quantity
                        </th>
                           <th>
                         Total
                        </th>

                        <th>
                        </th>





                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {


                        //totalpurchaserate = totalpurchaserate + item.PurchaseRate;

                        SlNo = SlNo + 1;
                        //totalsellrate = totalsellrate + item.SellRate;
                        
                        
                        <tr>
                       <td>@SlNo</td>
                            <td>

                         


                                 @Html.DisplayFor(modelItem => item.InvoiceNo)
                     
                            </td>
                            <td >
                         
                      @String.Format(Session["DateFormatUpper"].ToString(),item.InvoiceDate)
                            </td>
                              
                           <td>
                           
                          @Html.DisplayFor(modelItem => item.CustomerName)
                           </td>


                           
                            <td>
                           

                             @Html.DisplayFor(modelItem => item.TotalQuantity)
                           </td>




                              <td>
                           
                            @Html.DisplayFor(modelItem => item.TotalAmount)
                           </td>
                            
                            
                                <td class="dxgv">
                                <img src="../../Images/image_elements.png" />
                                <div class="pop">
                                <ul>
                                @*<li> @Html.ActionLink("View", "Display", new { id = item.Id }) </li>
                                <li> @Html.ActionLink("Edit", "Create", new { id = item.Id }) </li>*@
                                <li>@Html.ActionLink("Print", "PrintConsolidatedInvoice", new { CustomerId = item.CustomerId, StartInvoiceId = item.StartInvoiceId, EndInvoiceId = item.EndInvoiceId, InvoiceNo = item.InvoiceNo, DateStr = item.DateStr })</li>
                                
                                </ul>
                                </div>
                                 
                            </td>

                        </tr>
                    }
                </tbody>
   
            </table>

            </div>
            </div>
            </aside>

