@model IEnumerable<XenERP.Models.ModelView.FlockModelView>

@using XenERP.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{

    int Slno = 0;
}
<link href="../../css/AdminLTE.css" rel="stylesheet" type="text/css" />
<link href="../../css/Designer.css" rel="stylesheet" type="text/css" />
<style type="text/css">
    table.dataTable thead .sorting_desc {
        background: url("/Images/sort_desc.png") no-repeat scroll right center #53A9BC;
    }

    table.dataTable thead .sorting_asc {
        background: url("/Images/sort_asc.png") no-repeat scroll right center #53A9BC;
    }
</style>
<script type="text/javascript">

    $(function () {
        $('#example1').dataTable({
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": true
        });
    });
</script>

<script>
    $(document).ready(function () {

        $("#example1").on('click', '.btn-danger', function () {

            var UM = $(this).val();
            var ctd = $(this).closest('td');
            var ctr = ctd.closest('tr');

            var vkh = parseInt(ctr.find(".UpdateDropdown").val()) || 0;
            var vvv = parseFloat(ctr.find(".UpdateFlockId").val()) || 0;
    
            var result= confirm("Are you sure you want to reassign this flock?")
            if (result) {
                $.ajax({

                    url: "/Flock/UpdateLinesman",
                    type: "post",
                    data: { "FlockId": vvv, "LinesmanId": vkh },
                    success: function (d) {
                        alert(d);
                    }


                })

            }


        })


    })



</script>



<aside class="right-side">
    <section class="content-header">
        <h1>Farmer Report <small>List</small> </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Forms</a></li>
            <li class="active">General Elements</li>
        </ol>
    </section>



    @if (ViewBag.Message != null)
    {
        <div class="alert alert-success alert-dismissable">
            <i class="fa fa-check"></i>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            @ViewBag.Message
        </div>
    }

    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger alert-dismissable">
            <i class="fa fa-ban"></i>
            <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
            <b>Error!</b>
            @ViewBag.Error
        </div>
    }

  
    <div class="box">
      
        <div class="box-body table-responsive" style="overflow-x:auto">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>SlNo.</th>
                        <th>Farmer Name</th>
                        <th>Flockcode</th>                   
                        <th>SupervisorName</th>                     
                        <th></th>                     
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {

                        Slno = Slno + 1;
                        <tr>
                            <td>@Slno</td>
                            <td> @Html.DisplayFor(modelItem => item.FarmerName)</td>
                            <td> @Html.DisplayFor(modelItem => item.FlockCode) @Html.HiddenFor(modelItem=>item.FlockId,new { @class = "form-control UpdateFlockId"})</td>
                            <td> @Html.DropDownListFor(modelItem => item.LineSupervisorId, new SelectList(ViewBag.User, "SupId", "Name", item.LineSupervisorId), new { @class = "form-control UpdateDropdown", @placeholder = "Enter Contract Code", @maxlength = "100" })
                            </td>
                     

                            <td> 
                                <input type="button" value="Update" class="btn-danger" />
                                @*@Html.ActionLink("Update", "UpdateLinesman", "Flock", new { FlockId = item.FlockId,LinesmanId=item.LineSupervisorId}, new { onclick = "return confirm('Are you sure you wish to update this row?');" })*@
                            </td>
                           
                        </tr>
                    }
                </tbody>
            </table>
        </div><!-- /.box-body -->
    </div>
</aside>



