@model XenERP.Models.Company

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Company</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Userid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Userid)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CompanyDisplayName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanyDisplayName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CompanyLogo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanyLogo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BusinessLine)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BusinessLine)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CompanyType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanyType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CompanyDescription)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanyDescription)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CurrencyId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CurrencyId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GST_VATNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GST_VATNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TANNO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TANNO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ROC)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ROC)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TIN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TIN)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PANNO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PANNO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Website)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Website)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PurchaseEmailId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PurchaseEmailId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SalesEmailId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SalesEmailId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fax)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fax)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CountryId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CountryId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StateId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StateId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.City)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Zipcode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Zipcode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PostalCountryId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostalCountryId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PostalStateId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostalStateId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PostalCity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostalCity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PostalZipcode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostalZipcode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PostalAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostalAddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IssamepostalAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IssamepostalAddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContactNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EmailId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmailId)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
