@model XenERP.Models.TrialBalanceDrillDownModelView

@{

    var SlNo = 0;
    decimal? tdebit = 0;
    decimal? tcredit = 0;
    decimal? topeningdr = 0;
    decimal? topeningcr = 0;
    decimal? tclosingdr = 0;
    decimal? tclosingcr = 0;
    decimal? total = 0;

}
<!--for graph   -->
<!--for graph   -->
<style type="text/css">
    table.dataTable thead .sorting_desc {
        background: url("/Images/sort_desc.png") no-repeat scroll right center #53A9BC;
    }

    table.dataTable thead .sorting_asc {
        background: url("/Images/sort_asc.png") no-repeat scroll right center #53A9BC;
    }
</style>
<style type="text/css">
    .ui-autocomplete-loading {
        background: white url("../../Images/ajax-loader(1).gif") right center no-repeat;
    }

    .marginleft10 {
        margin-left: 10px !important;
    }

    .screenlet-title-bar {
        color: #0099cc;
        font-size: 14pt;
        font-weight: bold;
        height: 24px;
    }

    .ErrorControl {
        background: none repeat scroll;
        border: 1px solid Red;
        padding: 4px;
        width: 96%;
    }

    .pad svg {
        width: 100% !important;
    }
</style>
<script>
    $(document).ready(function () {

        $("#example1").on('click', '.pluspng', function () {
            var ctd = $(this).closest('td');
            var ctr = ctd.parent('tr');
            ctr.find(".pluspng").css("display", "none");
            ctr.find(".minuspng").css("display", "inline");
            var nextTr = ctr.next('tr');
          //  nextTr.css("display", "block");
            nextTr.find(".detailDiv").css("display", "block");

        });
        $("#example1").on('click', '.minuspng', function () {
            var ctd = $(this).closest('td');
            var ctr = ctd.parent('tr');
            ctr.find(".pluspng").css("display", "inline");
            ctr.find(".minuspng").css("display", "none");
            var nextTr = ctr.next('tr');
         //   nextTr.css("display", "none");
            nextTr.find(".detailDiv").css("display", "none");

        });
    });
</script>
<aside class="right-side">
    <div class="box box-primary">
        <div class="box-header"></div>
        <div class="box-body">
            <div class="box-body table-responsive divContent">
                <table id="example1" class="table table-bordered table-striped dataTable" aria-describedby="example1_info">
                    <thead>
                        <tr>
                            <th colspan="8" style="text-align:center">

                                <span style="font-size:x-large;font-weight:bolder">@ViewBag.CompanyName Factory: @ViewBag.BranchName</span><br />
                                <span style="font-size:large;font-weight:bolder"> 22, R.N. Mukherjee Road, 5th Floor, Kolkata-700 001</span><br />
                                <span style="font-size:large;font-weight:bolder">Trial Balance For The Year End @ViewBag.FinancialYear</span>
                            </th>
                        </tr>

                        <tr>
                            <th style="padding: 20px; text-align:center;" rowspan="2"> <strong> SlNo. </strong></th>

                            <th style="padding:20px;text-align:center; " rowspan="2">
                                <strong>  Group Name </strong>
                            </th>



                            <th style="padding: 8px; text-align:center;" colspan="2">
                                <strong> Opening Balance </strong>
                            </th>

                            <th style="padding: 8px; text-align:center;" colspan="2">

                                <strong>Transactions </strong>
                            </th>

                            <th style="padding: 8px; text-align:center;" colspan="2">
                                <strong>  Closing Balance </strong>
                            </th>



                        </tr>
                        <tr>




                            <th style="padding:8px;">
                                <strong>  Debit  </strong>
                            </th>
                            <th style="padding:8px;">
                                <strong> Credit  </strong>
                            </th>
                            <th style="padding:8px;">

                                <strong>  Debit </strong>
                            </th>
                            <th style="padding:8px;">

                                <strong>   Credit </strong>
                            </th>
                            <th style="padding:8px;">
                                <strong>  Debit </strong>
                            </th>
                            <th style="padding:8px;">
                                <strong>  Credit </strong>
                            </th>


                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.TrialGroups.Where(d => d.OpeningDebit != 0 || d.OpeningCredit != 0 || d.Debit != 0 || d.Credit != 0 || d.ClosingDebit != 0 || d.ClosingCredit != 0))
                        {
                            SlNo = SlNo + 1;
                            topeningdr += item.OpeningDebit;
                            topeningcr += item.OpeningCredit;
                            tdebit += item.Debit;
                            tcredit += item.Credit;
                            tclosingdr += item.ClosingDebit;
                            tclosingcr += item.ClosingCredit;


                            <tr>
                                <td style="padding:8px;"><strong> @SlNo </strong></td>

                                <td style="padding:8px;">
                                    <img class="pluspng" src="~/Images/pluspng.png" />
                                    <img class="minuspng" src="~/Images/minuspng.png" style="display:none" />
                                    @Html.DisplayFor(modelItem => item.LedgerName)
                                    @*@Html.ActionLink(item.LedgerName, "AdminGroupDetail", "FinancialReport", new { GroupId = item.GroupId, GroupName = item.LedgerName, from = ViewBag.From, To = ViewBag.To }, new { target = "_blank" })*@
                                </td>


                                <td align="right" style="padding:8px;">
                                    @Html.DisplayFor(modelItem => item.OpeningDebit)
                                </td>
                                <td align="right" style="padding:8px;">
                                    @Html.DisplayFor(modelItem => item.OpeningCredit)
                                </td>


                                <td align="right" style="padding:8px;">
                                    @Html.DisplayFor(modelItem => item.Debit)
                                </td>
                                <td align="right" style="padding:8px;">
                                    @Html.DisplayFor(modelItem => item.Credit)
                                </td>




                                <td align="right" style="padding:8px;">
                                    @Html.DisplayFor(modelItem => item.ClosingDebit)
                                </td>
                                <td align="right" style="padding:8px;">
                                    @Html.DisplayFor(modelItem => item.ClosingCredit)
                                </td>



                            </tr>
                            if (Model.TrialLedgers.Where(d => d.GroupId == item.GroupId && (d.OpeningDebit != 0 || d.OpeningCredit != 0 || d.Debit != 0 || d.Credit != 0 || d.ClosingDebit != 0 || d.ClosingCredit != 0)).Count() > 0)
                            {
                                var SlNo1 = 0;
                                <tr>
                                    <td colspan="8" style="padding:0px 0px 0px 0px;">
                                        <div id="demo_@SlNo" class="detailDiv" style="display:none">
                                            <table border="1" width="100%">
                                                <!--<tr>
                                                    <th style="text-align:center">SlNo.</th>

                                                    <th style="text-align:center">
                                                        @Html.DisplayFor(modelItem => item.LedgerName)
                                                    </th>

                                                    <th style="text-align:center">
                                                        Debit Opening
                                                    </th>
                                                    <th style="text-align:center">
                                                        Credit Opening
                                                    </th>
                                                    <th style="text-align:center">-->
                                                        @*@Html.DisplayNameFor(model => model.Debit)*@
                                                        <!--Debit
                                                    </th>
                                                    <th style="text-align:center">-->
                                                        @*@Html.DisplayNameFor(model => model.Credit)*@
                                                        <!--Credit
                                                    </th>
                                                    <th style="text-align:center">
                                                        Debit Closing
                                                    </th>
                                                    <th style="text-align:center">
                                                        Credit Closing
                                                    </th>


                                                </tr>-->
                                                @foreach (var ledger in Model.TrialLedgers.Where(d => d.GroupId == item.GroupId && (d.OpeningDebit != 0 || d.OpeningCredit != 0 || d.Debit != 0 || d.Credit != 0 || d.ClosingDebit != 0 || d.ClosingCredit != 0)))
                                                {
                                                    SlNo1++;
                                                    <tr>
                                                        <td> @SlNo1</td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => ledger.LedgerName)
                                                        </td>
                                                        <td align="right">
                                                            @Html.DisplayFor(modelItem => ledger.OpeningDebit)
                                                        </td>
                                                        <td align="right">
                                                            @Html.DisplayFor(modelItem => ledger.OpeningCredit)
                                                        </td>
                                                        <td align="right">
                                                            @Html.DisplayFor(modelItem => ledger.Debit)
                                                        </td>
                                                        <td align="right">
                                                            @Html.DisplayFor(modelItem => ledger.Credit)
                                                        </td>
                                                        <td align="right">
                                                            @Html.DisplayFor(modelItem => ledger.ClosingDebit)
                                                        </td>
                                                        <td align="right">
                                                            @Html.DisplayFor(modelItem => ledger.ClosingCredit)
                                                        </td>
                                                    </tr>
                                                }
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            }

                        }

                        <tr>
                            <td colspan="2">  Total</td>
                            <td align="right">
                                @topeningdr
                            </td>
                            <td align="right">
                                @topeningcr
                            </td>
                            <td align="right">
                                @tdebit
                            </td>
                            <td align="right">
                                @tcredit
                            </td>
                            <td align="right">
                                @tclosingdr
                            </td>
                            <td align="right">
                                @tclosingcr
                            </td>


                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</aside>
