@model IEnumerable<XenERP.Models.AccountsBook_GroupWise_TrialBalance_Current_Result>

@{

    var SlNo = 0;
    decimal? tdebit = 0;
    decimal? tcredit = 0;
    decimal? topeningdr = 0;
    decimal? topeningcr = 0;
    decimal? tclosingdr = 0;
    decimal? tclosingcr = 0;
    decimal? total = 0;

}
<!--for graph   -->
<!--for graph   -->
<style type="text/css">
    table.dataTable thead .sorting_desc {
        background: url("/Images/sort_desc.png") no-repeat scroll right center #53A9BC;
    }

    table.dataTable thead .sorting_asc {
        background: url("/Images/sort_asc.png") no-repeat scroll right center #53A9BC;
    }
</style>
<style type="text/css">
    .ui-autocomplete-loading {
        background: white url("../../Images/ajax-loader(1).gif") right center no-repeat;
    }

    .marginleft10 {
        margin-left: 10px !important;
    }

    .screenlet-title-bar {
        color: #0099cc;
        font-size: 14pt;
        font-weight: bold;
        height: 24px;
    }

    .ErrorControl {
        background: none repeat scroll;
        border: 1px solid Red;
        padding: 4px;
        width: 96%;
    }

    .pad svg {
        width: 100% !important;
    }
</style>
<link href="../../css/Invoice.css" rel="stylesheet" type="text/css" />  @* invoice new css*@
<aside class="right-side">
    <div class="box box-primary">
        <div class="box-header"></div>
        <div class="box-body">
            <div class="box-body table-responsive divContent">
                <table class="invoice" width="100%" border="1" cellspacing="2" cellpadding="2">
                    <thead>
                        <tr>
                            <th colspan="8">

                                <h3>Trial Balance For Hari Unit @ViewBag.Branch @ViewBag.DateRange</h3>
                            </th>
                        </tr>

                        <tr>
                            <th>SlNo.</th>

                            <th>
                                Group Name
                            </th>

                            <th>
                                Debit Opening
                            </th>
                            <th>
                                Credit Opening
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Debit)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Credit)
                            </th>
                            <th>
                                Debit Closing
                            </th>
                            <th>
                                Credit Closing
                            </th>


                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            SlNo = SlNo + 1;
                            topeningdr += item.OpeningDebit;
                            topeningcr += item.OpeningCredit;
                            tdebit += item.Debit;
                            tcredit += item.Credit;
                            tclosingdr += item.ClosingDebit;
                            tclosingcr += item.ClosingCredit;


                            <tr>
                                <td> @SlNo</td>

                                <td>


                                    @Html.DisplayFor(modelItem => item.LedgerName)
                                </td>


                                <td align="right">
                                    @Html.DisplayFor(modelItem => item.OpeningDebit)
                                </td>
                                <td align="right">
                                    @Html.DisplayFor(modelItem => item.OpeningCredit)
                                </td>


                                <td align="right">
                                    @Html.DisplayFor(modelItem => item.Debit)
                                </td>
                                <td align="right">
                                    @Html.DisplayFor(modelItem => item.Credit)
                                </td>




                                <td align="right">
                                    @Html.DisplayFor(modelItem => item.ClosingDebit)
                                </td>
                                <td align="right">
                                    @Html.DisplayFor(modelItem => item.ClosingCredit)
                                </td>



                            </tr>

                        }

                        <tr>
                            <td colspan="2">  Total</td>
                            <td align="right">
                                @topeningdr
                            </td>
                            <td align="right">
                                @topeningcr
                            </td>
                            <td align="right">
                                @tdebit
                            </td>
                            <td align="right">
                                @tcredit
                            </td>
                            <td align="right">
                                @tclosingdr
                            </td>
                            <td align="right">
                                @tclosingcr
                            </td>


                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</aside>
