@model IEnumerable<XenERP.Models.AccountsBook_GroupWise_DateRange_Result>

@{

    var SlNo = 0;
    decimal? tdebit = 0;
    decimal? tcredit = 0;
    decimal? topeningdr = 0;
    decimal? topeningcr = 0;
    decimal? tclosingdr = 0;
    decimal? tclosingcr = 0;
    decimal? total = 0;
    int? groupid = 0;
    decimal? groupdropening = 0;
    decimal? groupcropening = 0;
    decimal? groupdr = 0;
    decimal? groupcr = 0;
    decimal? groupdrclosing = 0;
    decimal? groupcrclosing = 0;
}
<!--for graph   -->
<!--for graph   -->
<style type="text/css">
    table.dataTable thead .sorting_desc {
        background: url("/Images/sort_desc.png") no-repeat scroll right center #53A9BC;
    }

    table.dataTable thead .sorting_asc {
        background: url("/Images/sort_asc.png") no-repeat scroll right center #53A9BC;
    }
</style>
<style type="text/css">
    .ui-autocomplete-loading {
        background: white url("../../Images/ajax-loader(1).gif") right center no-repeat;
    }

    .marginleft10 {
        margin-left: 10px !important;
    }

    .screenlet-title-bar {
        color: #0099cc;
        font-size: 14pt;
        font-weight: bold;
        height: 24px;
    }

    .ErrorControl {
        background: none repeat scroll;
        border: 1px solid Red;
        padding: 4px;
        width: 96%;
    }

    .pad svg {
        width: 100% !important;
    }
</style>
<link href="../../css/Invoice.css" rel="stylesheet" type="text/css" />  @* invoice new css*@
<aside class="right-side">
    <div class="box box-primary">
        <div class="box-header"></div>
        <div class="box-body">
            <div class="box-body table-responsive divContent">
                <table class="invoice" width="100%" border="0" cellspacing="2" cellpadding="2">
                    <thead>
                        <tr>
                            <th colspan="9">
                                <h3>HI-BREED INTERNATIONAL SALES && SERVICE  </h3>
                                <h4>SUB TRIAL GROUPWISE Report For @ViewBag.GroupName @ViewBag.DateRange</h4>
                            </th>
                        </tr>

                        <tr>
                            <th style="border-left:2px solid;border-top:2px solid;border-bottom:2px solid;">SlNo.</th>
                            <th style="border-left:2px solid;border-top:2px solid;border-bottom:2px solid;">
                                Code
                            </th>
                            <th style="border-left:2px solid;border-top:2px solid;border-bottom:2px solid;">
                                @Html.DisplayNameFor(model => model.LedgerName)
                            </th>

                            <th style="border-left:2px solid;border-top:2px solid;border-bottom:2px solid;">
                                Debit Opening
                            </th>
                            <th style="border-left:2px solid;border-top:2px solid;border-bottom:2px solid;">
                                Credit Opening
                            </th>
                            <th style="border-left:2px solid;border-top:2px solid;border-bottom:2px solid;">
                                @Html.DisplayNameFor(model => model.Debit)
                            </th>
                            <th style="border-left:2px solid;border-top:2px solid;border-bottom:2px solid;">
                                @Html.DisplayNameFor(model => model.Credit)
                            </th>
                            <th style="border-left:2px solid;border-top:2px solid;border-bottom:2px solid;">
                                Debit Closing
                            </th>
                            <th style="border-right:2px solid;border-top:2px solid;border-bottom:2px solid;">
                                Credit Closing
                            </th>


                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            SlNo = SlNo + 1;
                            tdebit += item.Debit;
                            tcredit += item.Credit;
                            if (item.GroupId != groupid)
                            {
                                if (SlNo != 1)
                                {


                                    <tr>
                                        <td colspan="3" align="right"><b>*****</b></td>
                                        @if (groupdropening >= groupcropening)
                                        {
                                            var groupopening = groupdropening - groupcropening;
                                            <td align="right" style="border-top:2px solid;border-bottom:2px solid;">
                                                @groupopening
                                            </td>
                                            <td align="right" style="border-top:2px solid;border-bottom:2px solid;">
                                                0
                                            </td>
                                        }
                                        else
                                        {
                                            var groupopening = groupcropening - groupdropening;
                                            <td align="right" style="border-top:2px solid;border-bottom:2px solid;">
                                                0
                                            </td>
                                            <td align="right" style="border-top:2px solid;border-bottom:2px solid;">
                                                @groupopening
                                            </td>
                                        }
                                        @if (groupdr >= groupcr)
                                        {
                                            var groupdebit = groupdr - groupcr;
                                            <td align="right" style="border-top:2px solid;border-bottom:2px solid;">
                                                @groupdebit
                                            </td>
                                            <td align="right" style="border-top:2px solid;border-bottom:2px solid;">
                                                0
                                            </td>
                                        }
                                        else
                                        {
                                            var groupcredit = groupcr - groupdr;
                                            <td align="right" style="border-top:2px solid;border-bottom:2px solid;">
                                                0
                                            </td>
                                            <td align="right" style="border-top:2px solid;border-bottom:2px solid;">
                                                @groupcredit
                                            </td>
                                        }
                                        @if (groupdrclosing >= groupcrclosing)
                                        {
                                            var groupclosing = groupdrclosing - groupcrclosing;
                                            <td align="right" style="border-top:2px solid;border-bottom:2px solid;">
                                                @groupclosing
                                            </td>
                                            <td align="right" style="border-top:2px solid;border-bottom:2px solid;">
                                                0
                                            </td>
                                        }
                                        else
                                        {
                                            var groupclosing = groupcrclosing - groupdrclosing;
                                            <td align="right" style="border-top:2px solid;border-bottom:2px solid;">
                                                0
                                            </td>
                                            <td align="right" style="border-top:2px solid;border-bottom:2px solid;">
                                                @groupclosing
                                            </td>
                                        }
                                    </tr>
                                    <tr><td colspan="9">&nbsp;</td></tr>

                                    groupdropening = 0;
                                    groupcropening = 0;
                                    groupdr = 0;
                                    groupcr = 0;
                                    groupdrclosing = 0;
                                    groupcrclosing = 0;

                                }
                            }


                            <tr>
                                <td style="border-bottom:none";> @SlNo</td>
                                <td style="border-bottom:none";>
                                    @Html.DisplayFor(modelItem => item.Lid)
                                </td>
                                <td style="border-bottom:none";>
                                    @Html.DisplayFor(modelItem => item.LedgerName)
                                </td>
                                @if (item.DRCR == "DR")
                                {
                                    topeningdr += item.Opening;
                                    groupdropening += item.Opening;
                                    <td align="right" style="border-bottom:none";>
                                        @Html.DisplayFor(modelItem => item.Opening)
                                    </td>
                                    <td align="right" style="border-bottom:none";>
                                        0
                                    </td>
                                }
                                else
                                {
                                    topeningcr += item.Opening;
                                    groupcropening += item.Opening;
                                    <td align="right" style="border-bottom:none";>
                                        0
                                    </td>
                                    <td align="right" style="border-bottom:none";>
                                        @Html.DisplayFor(modelItem => item.Opening)
                                    </td>
                                }

                                <td align="right" style="border-bottom:none";>
                                    @Html.DisplayFor(modelItem => item.Debit)
                                </td>
                                <td align="right" style="border-bottom:none";>
                                    @Html.DisplayFor(modelItem => item.Credit)
                                </td>



                                @if (item.ClosingDRCR == "DR")
                                {
                                    tclosingdr += item.Closing;
                                    groupdrclosing += item.Closing;

                                    <td align="right" style="border-bottom:none";>
                                        @Html.DisplayFor(modelItem => item.Closing)
                                    </td>
                                    <td align="right" style="border-bottom:none";>
                                        0
                                    </td>
                                }
                                else
                                {
                                    tclosingcr += item.Closing;
                                    groupcrclosing += item.Closing;

                                    <td align="right" style="border-bottom:none";>
                                        0
                                    </td>
                                    <td align="right" style="border-bottom:none";>
                                        @Html.DisplayFor(modelItem => item.Closing)
                                    </td>
                                }


                            </tr>

                            groupdr += item.Debit;
                            groupcr += item.Credit;
                            groupid = item.GroupId;
                        }

                        <tr>
                            <td colspan="3"> <b> Total </b> </td>
                            <td align="right">
                                <b> @topeningdr </b>
                            </td>
                            <td align="right">
                                <b> @topeningcr </b>
                            </td>
                            <td align="right">
                                <b>  @tdebit </b>
                            </td>
                            <td align="right">
                                <b>  @tcredit </b>
                            </td>
                            <td align="right">
                                <b>  @tclosingdr </b>
                            </td>
                            <td align="right">
                                <b>  @tclosingcr </b>
                            </td>


                        </tr>

                        @* <tr>
                                  <td colspan="2"> Closing Balance</td>
                                   @if (topeningcr >= topeningdr)
                            {
                                var balance = topeningcr - topeningdr;
                                total = topeningcr;


                                    <td align="right">
                                        @balance
                                    </td>
                                    <td align="right">
                                        &nbsp;
                                    </td>



                            }
                            else
                            {
                                var balance = topeningdr - topeningcr;
                                total = topeningdr;


                                    <td align="right">
                                         &nbsp;
                                    </td>
                                    <td align="right">
                                       @balance
                                    </td>



                            }

                            @if (tcredit >= tdebit)
                            {
                                var balance = tcredit - tdebit;
                                total = tcredit;


                                    <td align="right">
                                        @balance
                                    </td>
                                    <td align="right">
                                        &nbsp;
                                    </td>



                            }
                            else
                            {
                                var balance = tdebit - tcredit;
                                total = tdebit;


                                    <td align="right">
                                         &nbsp;
                                    </td>
                                    <td align="right">
                                       @balance
                                    </td>



                            }
                              @if (tclosingcr >= tclosingdr)
                            {
                                var balance = tclosingcr - tclosingdr;
                                total = tclosingcr;


                                    <td align="right">
                                        @balance
                                    </td>
                                    <td align="right">
                                        &nbsp;
                                    </td>



                            }
                            else
                            {
                                var balance = tclosingdr - tclosingcr;
                                total = tclosingdr;


                                    <td align="right">
                                         &nbsp;
                                    </td>
                                    <td align="right">
                                       @balance
                                    </td>



                            }
                            </tr>*@
                        @*  <tr>
                              <td colspan="4">Net Total</td>

                                <td align="right">
                                    @total
                                </td>
                                <td align="right">
                                   @total
                                </td>
                                <td align="right">
                                    &nbsp;
                                </td>
                                <td align="right">
                                   &nbsp;
                                </td>

                            </tr>*@
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</aside>

