@model IEnumerable<XenERP.Models.DEVoucher>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int SlNo = 0;
}



<link href="~/css/datetimepicker/datepicker.css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/JqueryValidation.js"></script>
<script src="../../js/plugins/datetimepicker/bootstrap-datepicker.js" type="text/javascript"></script>

<style type="text/css">
    table.dataTable thead .sorting_desc {
        background: url("/Images/sort_desc.png") no-repeat scroll right center #53A9BC;
    }

    table.dataTable thead .sorting_asc {
        background: url("/Images/sort_asc.png") no-repeat scroll right center #53A9BC;
    }
</style>
<script type="text/javascript">
    $(function () {


        $('#example1').dataTable({
            //   "iDisplayLength": 50,
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": true
        });
    });
</script>

<script>
    $(document).ready(function () {
        $("#dp3").datepicker({ autoclose: true, todayHighlight: true });
        $("#dp4").datepicker({ autoclose: true, todayHighlight: true });


        $("#btnsubmit").on('click', function () {
            var frmDt = $("#FromDate").val();
            var topDt = $("#ToDate").val();
            if (frmDt == '') {
                $("#myModal").modal('show');
                $('.msg1').html('Please enter from date');
                return false;
            }
            if (topDt == '') {
                $("#myModal").modal('show');
                $('.msg1').html('Please enter to date');
                return false;
            }
            window.location.href = "/PurchaseOrder/IndexSearch?DateFrom=" + frmDt + "&&DateTo=" + topDt;
        });

    });
</script>

<aside class="right-side">
    <section class="content-header">
        <h1>
            Double Entry Multi Receive Voucher<small>List</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Forms</a></li>
            <li class="active">General Elements</li>
        </ol>
    </section>




    @if (ViewBag.Message != null)
    {
        <div class="alert alert-success alert-dismissable">
            <i class="fa fa-check"></i>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            @ViewBag.Message
        </div>
    }
    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger alert-dismissable">
            <i class="fa fa-ban"></i>
            <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
            <b>Error!</b>
            @ViewBag.Error
        </div>
    }





    <div class="box">
        <div class="col-xs-12"><a href="@Url.Action("Receive", "DoubleEntry")" class="btn btn-primary"> <i class="fa fa-fw fa-plus-square"></i>New Double Entry Receive</a></div><br /><br />
        <div class="box-body table-responsive">

            <div class="box">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header">  </div>
                        <div class="box-body">
                            <table>
                                <tr>
                                    <td>
                                        <span class="r-txt">&nbsp; &nbsp; &nbsp; &nbsp;From Date:</span>
                                    </td>
                                    <td> &nbsp; &nbsp; &nbsp;</td>
                                    <td>
                                        <div class="input-group date" data-date-format="@Session["DateFormatLower"]" id="dp3">
                                            <input type="text" readonly="readonly" class="form-control" id="FromDate" />
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                    </td>
                                    <td> &nbsp; &nbsp; &nbsp;</td>
                                    <td>
                                        <span class="r-txt"> &nbsp; &nbsp; &nbsp; &nbsp;To Date:</span>
                                    </td>
                                    <td> &nbsp; &nbsp; &nbsp;</td>
                                    <td>
                                        <div class="input-group date" data-date-format="@Session["DateFormatLower"]" id="dp4">
                                            <input readonly="readonly" type="text" class="form-control" id="ToDate" /> <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                    </td>
                                    <td> &nbsp; &nbsp; &nbsp;</td>
                                    <td> &nbsp; &nbsp; &nbsp;</td>

                                    <td>
                                        <div>
                                            <div id="btnshow">  &nbsp; &nbsp; &nbsp; &nbsp;<input type="button" id="btnsubmit" class="btn btn-primary" value="Show" /></div>

                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <table id="example1" class="table table-bordered table-striped dataTable" aria-describedby="example1_info">
                <thead>
                    <tr>
                        <th>
                            Sl. No.
                        </th>
                        <th>
                            Voucher No.
                        </th>
                        <th>
                            Voucher Date
                        </th>
                        <th>
                            Total Debit/Credit
                        </th>
                        <th>
                            Branch
                        </th>
                        <th>
                            Narration
                        </th>
                        <th>
                        </th>





                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {


                        //totalpurchaserate = totalpurchaserate + item.PurchaseRate;

                        SlNo = SlNo + 1;
                        //totalsellrate = totalsellrate + item.SellRate;
                        decimal debitTotal = item.DEVoucherDetails.Sum(d => d.Debit);

                        <tr>
                            <td>@SlNo</td>
                            <td nowrap>




                                @Html.DisplayFor(modelItem => item.DEVNO)

                            </td>
                            <td nowrap>
                                @String.Format(Session["DateFormatUpper"].ToString(), item.DEVDate)

                            </td>

                            <td>

                                @debitTotal
                            </td>
                            <td>

                                @Html.DisplayFor(modelItem => item.BranchMaster.Name) 
                            </td>
                            <td>

                                @Html.DisplayFor(modelItem => item.Narration)
                            </td>


                            <td class="dxgv">
                                <img src="../../Images/image_elements.png" />
                                <div class="pop">
                                    <ul>
                                        <li> @Html.ActionLink("Edit", "Receive", new { id = item.Id }) </li>
                                        @*<li>@Html.ActionLink("Print", "PrintPurchaseOrderPDF", new { id = item.Id })</li>*@
                                    </ul>
                                </div>

                            </td>

                        </tr>
                    }
                </tbody>

            </table>

        </div>
    </div>
</aside>

