@model IEnumerable<XenERP.Models.Aging>

@{

    int SlNo = 0;
    decimal current = 0;
    decimal days30 = 0;
    decimal days60 = 0;
    decimal days90 = 0;
    decimal days365 = 0;
    decimal total = 0;
    decimal nettotal = 0;
}



<style type="text/css">
    table.dataTable thead .sorting_desc {
        background: url("/Images/sort_desc.png") no-repeat scroll right center #53A9BC;
    }

    table.dataTable thead .sorting_asc {
        background: url("/Images/sort_asc.png") no-repeat scroll right center #53A9BC;
    }

    td {
        padding: 10px;
    }
</style>
<script type="text/javascript">
    $(function () {


        $('#example1').dataTable({

            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": true
        });
    });
</script>

<aside class="right-side">


    <div class="box">

        <div class="box-body table-responsive">
            <table id="example1" class="table table-bordered table-striped dataTable" aria-describedby="example1_info">
                <thead>
                    <tr>
                        <th style="text-align:center;">
                            Sl. No.
                        </th>
                        <th style="text-align:center;">
                            Party Name
                        </th>
                        <th style="text-align:center;">
                            Current
                        </th>
                        <th style="text-align:center;">
                            1-30 Days
                        </th>
                        <th style="text-align:center;">
                            31-60 Days
                        </th>
                        <th style="text-align:center;">
                            61-90 Days
                        </th>
                        <th style="text-align:center;">
                            91+ Days
                        </th>

                        <th style="text-align:center;">
                            Total
                        </th>

                    </tr>

                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {

                        SlNo = SlNo + 1;
                        current += item.Current;
                        days30 += item.Days_1_30;
                        days60 += item.Days_31_60;
                        days90 += item.Days_61_90;
                        days365 += item.Days_91_365;
                        total = item.Current + item.Days_1_30 + item.Days_31_60 + item.Days_61_90 + item.Days_91_365;
                        nettotal += total;

                        <tr>
                            <td>@SlNo</td>
                            <td style="text-align:left;">

                                @Html.DisplayFor(modelItem => item.PartyName)

                            </td>

                            <td style="text-align:right;">
                                @Html.DisplayFor(modelItem => item.Current)
                            </td>
                            <td style="text-align:right;">
                                @Html.DisplayFor(modelItem => item.Days_1_30)
                            </td>
                            <td style="text-align:right;">
                                @Html.DisplayFor(modelItem => item.Days_31_60)
                            </td>
                            <td style="text-align:right;">
                                @Html.DisplayFor(modelItem => item.Days_61_90)
                            </td>
                            <td style="text-align:right;">
                                @Html.DisplayFor(modelItem => item.Days_91_365)
                            </td>
                            <td style="text-align:right;">
                                @total
                            </td>

                        </tr>

                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td>
                            TOTAL
                        </td>


                        <td style="text-align:right;">
                            @Math.Round(current, 2)
                        </td>

                        <td style="text-align:right;">
                            @Math.Round(days30, 2)
                        </td>

                        <td style="text-align:right;">
                            @Math.Round(days60, 2)
                        </td>

                        <td style="text-align:right;">
                            @Math.Round(days90, 2)
                        </td>

                        <td style="text-align:right;">
                            @Math.Round(days365, 2)
                        </td>

                        <td style="text-align:right;">
                            @Math.Round(nettotal, 2)
                        </td>

                    </tr>
                </tfoot>
            </table>

        </div>
    </div>
</aside>


