@model IEnumerable<XenERP.Models.PurchaseInvoice>
@{

    var SlNo = 0;
    var SlNo1 = 0;
    decimal openDueTotal = 0;
    decimal openAdvanceTotal = 0;
    decimal adjustShortTotal = 0;
    decimal adjustExtraTotal = 0;
    decimal SalesTotal = 0;
    decimal SalesreuturnTotal = 0;
    decimal receiptTotal = 0;
    decimal Due = 0;
    decimal Advance = 0;
    decimal DueTotal = 0;
    decimal AdvanceTotal = 0;
}

<!--for graph   -->
<!--for graph   -->
<style type="text/css">
    table.dataTable thead .sorting_desc {
        background: url("/Images/sort_desc.png") no-repeat scroll right center #53A9BC;
    }

    table.dataTable thead .sorting_asc {
        background: url("/Images/sort_asc.png") no-repeat scroll right center #53A9BC;
    }
</style>
<script type="text/javascript">
    $(function () {


        $('#example1').dataTable({

            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": true
        });


    });

</script>
<style type="text/css">
    .ui-autocomplete-loading {
        background: white url("../../Images/ajax-loader(1).gif") right center no-repeat;
    }

    .marginleft10 {
        margin-left: 10px !important;
    }

    .screenlet-title-bar {
        color: #0099cc;
        font-size: 14pt;
        font-weight: bold;
        height: 24px;
    }

    .ErrorControl {
        background: none repeat scroll;
        border: 1px solid Red;
        padding: 4px;
        width: 96%;
    }

    .pad svg {
        width: 100% !important;
    }
</style>
<style type="text/css">
    body {
        font-family: verdana, arial, sans-serif;
        font-size: 13px;
    }

    .invoice th,
    td {
        padding: 5px 5px 5px 5px;
        /* text-align: center;*/
    }

    .invoice th {
        border-bottom: 2px solid #333333;
    }

    .invoice td {
        border-bottom: 1px solid #999999;
    }

    .invoice table {
        overflow: visible !important;
    }

    .invoice thead {
        display: table-header-group;
    }

    .invoice tfoot {
        display: table-row-group;
    }

    .invoice tr {
        page-break-inside: avoid;
    }

    .grey {
        background-color: rgba(128,128,128,.25);
    }

    .red {
        background-color: rgba(255,0,0,.25);
    }

    .blue {
        background-color: rgba(0,0,255,.25);
    }
</style>
<div align="center">


    <div align="center">
        @*<span style="font-size:medium;">
            Hello! This is a reminder that your account balance @ViewBag.TotalDue.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("hi-IN"))) was overdue as of @ViewBag.from.
            Please find the Payables for your reference. If you have any queries regarding this account,
            please contact our office as soon as possible.
        </span>*@
        <br />
        <span style="font-size:xx-large;font-weight:bolder">@ViewBag.CompanyName</span><br />
        <span style="font-size:large;font-weight:bolder"> @ViewBag.AddressCompany</span><br />
        <span style="font-size:large;font-weight:bolder"> GST NO - @ViewBag.GSTNO</span><br /><br />
        <div style="border-style: double;">
            <h2>@ViewBag.CustomerName</h2>
            <span style="font-size:large;font-weight:bold;font-family:Verdana, Geneva, Tahoma, sans-serif;"> Outstanding Bill wise details</span><br />
            @if (ViewBag.from != null)
            {
                <span style="font-size:large;font-weight:bolder">@Html.Raw("As On:")@ViewBag.from    @Html.Raw("&nbsp;&nbsp;")  </span>
            }
            <h3>@ViewBag.Address</h3>
        </div>
    </div>

    <br />


    <table id="example1" cellspacing="0" cellpadding="0" class="invoice">
        @*<colgroup>
                <col class="blue1" />
                <col class="blue1" />
                <col class="blue1" />
                <col class="blue1" />
                <col class="grey" />
                <col class="blue1" />
                <col class="blue1" />
                <col class="blue1" />
                <col class="grey" />
                <col class="blue" />
                <col class="blue1" />
            </colgroup>*@
        <thead>
            <tr>

                <th style="text-align:center">
                    SlNo.
                </th>

                <th style="text-align:center">
                    Dates
                </th>

                <th style="text-align:center">
                    Ref. No.
                </th>

                <th style="text-align:center">
                    Pending Amount
                </th>
                <th style="text-align:center">
                    Due On
                </th>
                <th style="text-align:center">
                    Overdue by days
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                SlNo = SlNo + 1;
                //openDueTotal += item.OpeningDue;
                //openAdvanceTotal += item.OpeningAdvance;
                //adjustShortTotal += item.AdjustmentShort ?? 0;
                //adjustExtraTotal += item.AdjustmentExtra ?? 0;
                SalesTotal += item.BCGrandTotal;
                //SalesreuturnTotal += item.Salesreturn ?? 0;
                //receiptTotal += item.Receipt ?? 0;
                //decimal net = item.OpeningDue + (item.AdjustmentShort ?? 0) + item.Sales - (item.Salesreturn ?? 0) - item.OpeningAdvance - (item.AdjustmentExtra ?? 0) - (item.Receipt ?? 0);
                //if (net >= 0)
                //{
                //    Advance = net;
                //    AdvanceTotal += net;
                //    Due = 0;
                //}
                //else
                //{
                //    Due = (-1) * net;
                //    DueTotal += Due;
                //    Advance = 0;
                //}
                //if (Due > 0)
                //{
                <tr class="red">


                    <td align="center">
                        <b> @SlNo </b>

                    </td>
                    <td align="center">
                        <b>@String.Format("{0:dd/MM/yyyy}", item.InvoiceDate)</b>
                    </td>
                    <td align="center">
                        <b> @(item.NO+"("+item.Reference+")")</b>
                    </td>

                    <td align="right">
                        <b> @item.BCGrandTotal</b>
                    </td>

                    <td align="center">
                        <b>@String.Format("{0:dd/MM/yyyy}", item.InvoiceDate)</b>
                    </td>
                    <td align="right">
                        <b> @item.CurrencyId</b>
                    </td>

                </tr>
            }
            @*else
                    {
                        <tr>


                            <td>
                                <b> @SlNo </b>
                            </td>
                            <td>
                                <b> @item.LedgerName</b>
                            </td>
                            <td align="right">
                                <b> @item.OpeningDue</b>
                            </td>

                            <td align="right">
                                <b> @item.AdjustmentShort</b>
                            </td>

                            <td align="right">
                                <b> @item.Sales</b>
                            </td>
                            <td align="right">
                                <b> @item.Salesreturn</b>
                            </td>
                            <td align="right">
                                <b> @item.OpeningAdvance</b>
                            </td>
                            <td align="right">
                                <b> @item.AdjustmentExtra</b>
                            </td>
                            <td align="right">
                                <b> @item.Receipt</b>
                            </td>
                            <td align="right">
                                <b> @Due</b>
                            </td>
                            <td align="right">
                                <b> @Advance</b>
                            </td>
                        </tr>
                    }
                }*@
        </tbody>
        <tfoot>
            <tr>

                <td></td>
                <td colspan="2" align="center">
                    <b>  Grand Total </b>
                </td>

                <td align="right">
                    <b>    @Math.Round(SalesTotal, 2)</b>
                </td>
                <td align="center">
                </td>
                <td align="center">
                </td>
                <td align="right">
                </td>

            </tr>
        </tfoot>

    </table>
</div>

@*<div id="printdiv" style="display:none;">
        <div align="center">
            <span style="font-size:x-large;font-weight:bolder">@ViewBag.CompanyName</span><br />

            <span style="font-size:medium;font-weight:normal">Despatch Register @ViewBag.DateRange</span>

        </div>
        <table id="example1" cellspacing="0" cellpadding="0" class="invoice" border="1">
            <thead>
                <tr>

                    <th width="5%" style="text-align:center">
                        SlNo.
                    </th>

                    <th width="10%" style="text-align:center">
                        Party
                    </th>

                    <th width="10%" style="text-align:center">
                        Opening Due
                    </th>
                    <th width="5%" style="text-align:center">
                        Opening Advance
                    </th>
                    <th width="15%" style="text-align:center">
                        Adjustment Short
                    </th>

                    <th width="30%" style="text-align:center">
                        Adjustment Extra
                    </th>

                    <th colspan="2" width="20%" style="text-align:center">
                        Sales
                    </th>
                    <th colspan="2" width="20%" style="text-align:center">
                        Sales Return
                    </th>

                    <th colspan="2" width="20%" style="text-align:center">
                        Receipt
                    </th>


                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    decimal totalQuantity = 0; // item.Quantity * item.UnitFormula;


                    if (item.Product.CategoryId == 1)
                    {
                        totalQuantity = item.Quantity * item.UnitFormula;
                    }
                    else
                    {
                        totalQuantity = item.Quantity / (item.UnitFormula == 0 ? 1 : item.UnitFormula);
                    }



                    <tr>
                        @if (item.SalesDeliveryId != oldinvoice1)
                        {
                            SlNo1 = SlNo1 + 1;

                            <td style="text-align:center">
                                <b> @SlNo1 </b>
                            </td>
                            <td style="text-align:center">
                                <b> @item.le</b>
                            </td>
                            <td style="text-align:center">
                                <b> @Html.DisplayFor(modelItem => item.SalesDelivery.NO)</b>
                            </td>
                            <td align="left">
                                <b> @Html.DisplayFor(modelItem => item.SalesDelivery.Warehouse.Name)</b>
                            </td>
                            <td style="text-align:center">
                                <b>  @Html.DisplayFor(modelItem => item.SalesDelivery.Customer.Name)</b>

                            </td>
                        }
                        else
                        {
                            <td></td>
                            <td></td>
                            <td align="left"></td>

                            <td align="left"></td>
                            <td align="left"></td>
                        }
                        <td style="text-align:center">
                            @Html.DisplayFor(modelItem => item.Product.Description)
                        </td>

                        <td style="text-align:right">
                            @Math.Round(item.Quantity, 0) &nbsp; @item.UOM1.Code

                        </td>
                        <td style="text-align:right">
                            @Math.Round(totalQuantity, 0) &nbsp; @item.UOM.Code
                        </td>
                    </tr>

                    oldinvoice1 = item.SalesDeliveryId;
                }
            </tbody>


        </table>

    </div>*@