@model IEnumerable<XenERP.Models.LinesmanEntryStat>

@{
    Layout = null;
    var SlNo = 0;
    decimal SubTotal = 0;
    decimal Discount = 0;
    decimal TotAmt = 0;
    int totalcartons = 0;
    decimal AddTotal = 0;
    decimal DiscountTotal = 0;
}
<!--for graph   -->
<!--for graph   -->

<style>
    .modal-content {
        background-color: #b2b266;
        width: 1300px;
        /*margin: 130px auto 0 auto;*/
        text-align: center;
    }

    .example-modal .modal {
        background: transparent !important;
    }
</style>


<style type="text/css">
    table.dataTable thead .sorting_desc {
        background: url("/Images/sort_desc.png") no-repeat scroll right center #53A9BC;
    }

    table.dataTable thead .sorting_asc {
        background: url("/Images/sort_asc.png") no-repeat scroll right center #53A9BC;
    }
</style>

<style>
    .table-responsive {
        min-height: 0.01%;
        overflow-x: auto;
    }

    table.chompa td table.pompa td {
        width: 100%;
    }

    /*.input_width {
        width: 100%;
    }

    table.chompa td  {
        width: 100%;
    }

    table.chompa td {
        width: 100%;
    }*/
</style>




<script type="text/javascript">
    $(function () {


        var table = $('#example4').dataTable({

            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": true,
            "scrollY": 450,
            "scrollX": true
        });

        new $.fn.dataTable.FixedHeader(table);
    });


    $(".chompa").on('click', '.AccoDet', function () {


        var UM = $(this).val();
        var ctd = $(this).closest('td');
        var ctr = ctd.closest('tr');
        var fl = parseInt(ctr.find(".AccoDethid").val());
        ctr.find(".imgLoader").show();




        $.get("/Hari_Report/FarmerDailyEntryDetailsPartial", { FlockId: fl }, function (data) {


            $("#FarmerDetails").css("display", "block");
            $("#FarmerDetails").html(data);
            ctr.find(".imgLoader").hide();
            $("#myModal").modal('show');
        });



    });


</script>
<style type="text/css">
    .ui-autocomplete-loading {
        background: white url("../../Images/ajax-loader(1).gif") right center no-repeat;
    }

    .marginleft10 {
        margin-left: 10px !important;
    }

    .screenlet-title-bar {
        color: #0099cc;
        font-size: 14pt;
        font-weight: bold;
        height: 24px;
    }

    .ErrorControl {
        background: none repeat scroll;
        border: 1px solid Red;
        padding: 4px;
        width: 96%;
    }

    .pad svg {
        width: 100% !important;
    }
</style>

<aside class="right-side">

    <h1 style="text-align:center">
        @ViewBag.LinemanName APPLICATION USES
    </h1>


    <div class="box box-primary">
        <div class="box-header">

        </div>
        <div class="box-body">


            <div class="table-responsive">
                @*<table id="datatable-buttons" class="table table-bordered table-striped chompa">*@
                <table id="example4" width="100%" class="table table-bordered table-striped dataTable chompa " aria-describedby="example2_info">
                    <thead>
                        <tr>

                            <th>
                                SlNo.
                            </th>

                            <th>
                                Date
                            </th>

                            <th>
                                Login Time
                            </th>

                            <th>
                                Mobile Entry
                            </th>

                            <th>
                                System Entry
                            </th>

                            <th>
                                Number Of Farmer Entry
                            </th>

                            <th>
                                Image With Farmer
                            </th>

                            <th>
                                Bird Mortality Image
                            </th>
                            <th>
                                Feed Bag Image
                            </th>
                            <th>
                                Post Mortem Image
                            </th>
                            <th>
                                Odometer Start
                            </th>
                            <th>
                                Odometer End
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            SlNo = SlNo + 1;

                            <tr>

                                <td>
                                    @SlNo
                                    <input type="hidden" value="@SlNo" class="hiddenSL" />
                                </td>

                                <td>

                                    @Html.DisplayFor(modelItem => item.Date)

                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.LoginTime)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.MobileEntry)
                                </td>

                                <td>

                                    @Html.DisplayFor(modelItem => item.SystemEntry)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.NumberOfFarmerVisited)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.WidFarmerImage)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BirdMortalityImage)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FeedBagImage)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PostMortemImage)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OdometerStart)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OdometerEnd)
                                </td>
                            </tr>
                        }
                    </tbody>



                </table>



            </div>
        </div>



    </div>
</aside>

<div id="myModal" class="modal fade" width="100%">

    <div class="modal-dialog" width="100%" style="margin-left:10px">
        <div class="modal-content" style="background-color:white">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color:black">&times;</button>
                <h3 class="modal-title"><b>Flock Details:</b></h3>
            </div>

            <div class="modal-body" width="100%">
                <div id="FarmerDetails">
                </div>
                <div id="FlockDetails">
                </div>
                <div id="SalesDetails">
                </div>
            </div>

        </div>

    </div>

</div>


