@model IEnumerable<XenERP.Models.LsDailyStatics>


@{
    Layout = null;
}
@{

    int Slno = 0;
}
<link href="../../css/AdminLTE.css" rel="stylesheet" type="text/css" />
<link href="../../css/Designer.css" rel="stylesheet" type="text/css" />
<link href="~/css/datetimepicker/datepicker.css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/JqueryValidation.js"></script>
<script src="../../js/plugins/datetimepicker/bootstrap-datepicker.js" type="text/javascript"></script>
<style type="text/css">
    table.dataTable thead .sorting_desc {
        background: url("/Images/sort_desc.png") no-repeat scroll right center #53A9BC;
    }

    table.dataTable thead .sorting_asc {
        background: url("/Images/sort_asc.png") no-repeat scroll right center #53A9BC;
    }
</style>
<style>
    .example-modal .modal {
        position: relative;
        top: auto;
        bottom: auto;
        right: auto;
        left: auto;
        display: block;
        z-index: 1;
    }

    .modal {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1040;
        display: none;
        overflow: auto;
        overflow-y: scroll;
    }

    .modal-content {
        background-color: #ffffff;
        width: 330px;
        margin: 130px auto 0 auto;
        text-align: center;
    }

    .example-modal .modal {
        background: transparent !important;
    }
</style>
<script type="text/javascript">

    $(function () {
        //$('#example1').dataTable({
        //    "bPaginate": true,
        //    "bLengthChange": true,
        //    "bFilter": true,
        //    "bSort": false,
        //    "bInfo": true,
        //    "bAutoWidth": true,
        //    "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {

        //        if (aData[6] == "Already Received") {
        //            $('td', nRow).css('border-color', 'Red');
        //        }
        //        else {
        //            $('td', nRow).css('border-color', 'Green');
        //        }
        //    }
        //});
    });
</script>
<script>
    $(document).ready(function () {
        $("#dp3").datepicker({ autoclose: true, todayHighlight: true });
        $("#dp4").datepicker({ autoclose: true, todayHighlight: true });




      

        $("#example1").on('click', '.pluspng', function () {

            var ctd = $(this).closest('td');
            var ctr = ctd.parent('tr');
            ctr.find(".pluspng").css("display", "none");
            ctr.find(".minuspng").css("display", "inline");
            var nextTr = ctr.next('tr');
            //  nextTr.css("display", "block");
            nextTr.find(".detailDiv").css("display", "block");

        });
        $("#example1").on('click', '.minuspng', function () {
            var ctd = $(this).closest('td');
            var ctr = ctd.parent('tr');
            ctr.find(".pluspng").css("display", "inline");
            ctr.find(".minuspng").css("display", "none");
            var nextTr = ctr.next('tr');
            //   nextTr.css("display", "none");
            nextTr.find(".detailDiv").css("display", "none");

        });
    });
</script>
<aside class="">
    <section class="content-header">
        <h1>Linesman Efficiency  <small>List</small> </h1>

    </section>



    @if (ViewBag.Message != null)
    {
        <div class="alert alert-success alert-dismissable">
            <i class="fa fa-check"></i>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            @ViewBag.Message
        </div>
    }

    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger alert-dismissable">
            <i class="fa fa-ban"></i>
            <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
            <b>Error!</b>
            @ViewBag.Error
        </div>
    }

    <div id="loading">
        <div id="loadingcontent">
            <p id="loadingspinner">
                <img src="~/Images/newLoad.gif" />
            </p>
        </div>
    </div>








            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th style="text-align:center">SlNo.</th>
                        <th style="text-align:center">Linesman Name</th>
                        <th style="text-align:center">Date</th>
                        <th style="text-align:center">Active Farmer </th>
                        <th style="text-align:center">Physical Visit</th>
                        <th style="text-align:center">Ontime Entry</th>
                        <th style="text-align:center">Late Entry</th>
                        <th style="text-align:center">Efficiency</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {

                        Slno = Slno + 1;

                    <tr align="center">

                        <td>
                            @Slno

                        </td>


                        <td align="center">
                            <img class="pluspng" src="~/Images/pluspng.png" />
                            <img class="minuspng" src="~/Images/minuspng.png" style="display:none" />
                            @item.LinesmanName
                        </td>

                        <td align="center"> @Html.DisplayFor(modelItem => item.Date)</td>
                        <td align="center"> @Html.DisplayFor(modelItem => item.TotalActiveFarmer)</td>
                        <td align="center"> @Html.DisplayFor(modelItem => item.TodayPhysicalVisit)</td>
                        <td align="center"> @Html.DisplayFor(modelItem => item.OntimeEntry)</td>
                        <td align="center"> @Html.DisplayFor(modelItem => item.LateEntry)</td>
                        <td align="center"> @Html.DisplayFor(modelItem => item.Efficiency) %</td>
                    </tr>


                        var SlNo1 = 0;
                        <tr>
                            <td colspan="4" style="padding:0px 0px 0px 0px;">
                                <div id="demo_@Slno" class="detailDiv" style="display:none">
                                    <table border="1" width="100%">
                                        <tr>
                                            <th style="text-align:center">SlNo.</th>

                                            <th style="text-align:center">
                                                Farmer Name
                                            </th>

                                            <th style="text-align:center">
                                                Visit Type
                                            </th>

                                            <th style="text-align:center">
                                                Entry Date
                                            </th>
                                            <th style="text-align:center">
                                                Created Date
                                            </th>


                                            <th style="text-align:center">
                                                Farm Image
                                            </th>

                                            <th style="text-align:center">
                                                Mortality Image
                                            </th>

                                            <th style="text-align:center">
                                                Feed Bag Image
                                            </th>

                                            <th style="text-align:center">
                                                PM Image
                                            </th>


                                        </tr>
                                        @foreach (var item1 in item.lsStaticsList)
                                        {
                                            SlNo1++;
                                            <tr>
                                                <td style="border-color:black"> @SlNo1</td>

                                                <td style="border-color:black;text-align:center">@item1.FarmerName</td>
                                                <td style="border-color:black;text-align:center">@item1.VisitType</td>
                                                <td style="border-color:black;text-align:center">@item1.DateOfEntry</td>
                                                <td style="border-color:black;text-align:center">@item1.CreatedTime</td>

                                                <td style="border-color:black;text-align:center">@item1.PicWithFarm</td>
                                                <td style="border-color:black;text-align:center">@item1.MortalityImage</td>
                                                <td style="border-color:black;text-align:center">@item1.FeedBagImage</td>
                                                <td style="border-color:black;text-align:center">@item1.PmImage</td>
                                            </tr>


                                        }
                                    </table>
                                </div>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
     
 
</aside>
