@model IEnumerable<XenERP.Models.Customer>
@using XenERP.Models;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int SlNo = 0;
}


<link href="../../css/AdminLTE.css" rel="stylesheet" type="text/css" />
<link href="../../css/Designer.css" rel="stylesheet" type="text/css" />

<style type="text/css">
    table.dataTable thead .sorting_desc {
        background: url("/Images/sort_desc.png") no-repeat scroll right center #53A9BC;
    }

    table.dataTable thead .sorting_asc {
        background: url("/Images/sort_asc.png") no-repeat scroll right center #53A9BC;
    }
</style>
<script type="text/javascript">
    $(function () {


        $('#example1').dataTable({

            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": true
        });
    });
</script>

<aside class="right-side">
    <section class="content-header">
        <h1>
            Customer<small>List</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Forms</a></li>
            <li class="active">General Elements</li>
        </ol>
    </section>




    @if (ViewBag.Message != null)
    {
        <div class="alert alert-success alert-dismissable">
            <i class="fa fa-check"></i>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            @ViewBag.Message
        </div>
    }
    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger alert-dismissable">
            <i class="fa fa-ban"></i>
            <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
            <b>Error!</b>
            @ViewBag.Error
        </div>
    }





    <div class="box">
        <div class="col-xs-12"><a href="@Url.Action("CreateCustomerSales", "SalesResponsive")" class="btn btn-primary"> <i class="fa fa-fw fa-plus-square"></i>New Customer</a><li><a id="export" href="@Url.Action("CustomerExport", "Customer")"><img alt="img" src="../../img/excel.png"> Excel</a></li></div> <br /><br />

        <div class="box-body table-responsive">
            <table id="example1" class="table table-bordered table-striped dataTable" aria-describedby="example1_info">
                <thead>
                    <tr>

                        <th>
                            SlNo.
                        </th>
                        <th>
                            Code
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Branch
                        </th>
                        <th>
                            Customer Type
                        </th>
                        <th>
                            Parent Code
                        </th>

                        <th>
                            Opening Balance
                        </th>

                        @*<th>

                        </th>
                        <th>

                        </th>
                        <th>

                        </th>*@


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {


                        //totalpurchaserate = totalpurchaserate + item.PurchaseRate;

                        SlNo = SlNo + 1;
                        //totalsellrate = totalsellrate + item.SellRate;


                        <tr>
                            <td>@SlNo</td>
                            <td>




                                @Html.DisplayFor(modelItem => item.Code)

                            </td>



                            <td>
                                @Html.DisplayFor(modelItem => item.Name)

                            </td>
                            <td>

                                @Html.DisplayFor(modelItem => item.BankBranch)

                            </td>
                            <td>

                                @Html.DisplayFor(modelItem => item.CustomerType)

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PCode)
                            </td>

                            <td align="right">
                                @Html.DisplayFor(modelItem => item.OpeningBal)

                            </td>


                            <!--<td>-->
                                @*    <i class="fa fa-fw fa-edit"></i>*@
                                <!--@Html.ActionLink("Edit", "EditCustomer", new { id = item.Id })
                            </td>



                            <td>-->

                                @*    <i class="fa fa-fw fa-times-circle"></i>*@
                                <!--@Html.ActionLink("Delete", "DeleteCustomer", new { id = item.Id }, new { onclick = "return confirm('Are you sure you wish to delete this row?');" })

                            </td>

                            <td>

                                @Html.ActionLink("Doc Details", "CustomerDetails", new { id = item.Id })
                            </td>-->

                        </tr>
                    }
                </tbody>

            </table>

        </div>
    </div>
</aside>

